@using CiPlatformWeb.Entities.DataModels;
@using CiPlatformWeb.Entities.ViewModels;

@model SessionUserViewModel



<nav class="navbar navbar-expand-lg border-bottom">
    <div class="container">
        <div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#headerContent" aria-controls="headerContent" aria-expanded="false"
                    aria-label="Toggle navigation" style="border:none">
                <span><img src="~/images/list.png"></span>
            </button>
            <a class="navbar-brand" asp-controller="Mission" asp-action="PlatformLanding">
                <img src="~/images/logo.png" alt="" class="companyLogo">
            </a>
        </div>

        <div class="offcanvas offcanvas-start" id="headerContent">
            <div class="offcanvas-header flex-row-reverse">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 offcanvas-body">
                <li class="nav-item dropdown exploreDropdown ms-4 d-none">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Explore
                    </a>
                    <ul class="dropdown-menu exploreOptions">
                        <li value="1"><a class="dropdown-item">Top Themes</a></li>
                        <li value="2"><a class="dropdown-item">Most Ranked</a></li>
                        <li value="3"><a class="dropdown-item">Top Favourite</a></li>
                        <li value="4"><a class="dropdown-item">Random</a></li>
                    </ul>
                </li>
                <li class="nav-item ms-4">
                    <a asp-controller="Story" asp-action="StoryListing" class="nav-link" aria-current="page">Stories</a>
                </li>
                <li class="nav-item ms-4">
                    <a asp-action="PrivacyPolicy" asp-controller="User" class="nav-link" aria-current="page">Privacy Policy</a>
                </li>
            </ul>
        </div>

        <div class="d-flex">
            @if (Model.userId != 0)
            {
                <div class="dropdown position-relative mt-2 me-4">

                    <img src="~/images/bell.png" alt="" class="m-2" id="notificationDropdown" data-bs-toggle="dropdown"
                     aria-expanded="false" data-bs-auto-close="outside">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        @Model.userNotifications.Count(u => u.status == false)
                    </span>

                    <ul class="dropdown-menu dropdown-menu-md-end dropdown-position scroll-menu px-3" id="notificationDropdownList" aria-labelledby="notificationDropdown" style="width: 400px;">

                        <div class="d-flex justify-content-between">
                            <i class="bi bi-gear-fill notificationSettings mt-1"></i>
                            <span>NOTIFICATIONS</span>
                            <a class="text-decoration-none text-dark clearAllNotifications">Clear All</a>
                        </div>

                        <hr />
                        @if (Model.userNotifications.Any())
                        {
                            @foreach (NotificationParams notification in Model.userNotifications)
                            {

                                <li class="clearNotification" id="@notification.notificationId">
                                    @if (notification.recommendedMissionId != 0)
                                    {

                                        <a class="text-decoration-none text-dark" href="@Url.Action("VolunteeringMission", "Mission", new {  MissionId = notification.recommendedMissionId})">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <img src="~/Upload/UserProfile/@notification.fromUserAvatar" class="notificationIcon" />
                                                </div>
                                                <div class="ms-2">
                                                    <span> @notification.fromUserName - Recommends this mission - @notification.recommendedMissionTitle </span>
                                                </div>
                                                <div class="statusPill">
                                                    @if (notification.status == true)
                                                    {
                                                        <i class="bi bi-circle-fill" style="color: #414141; font-size: 15px;"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-circle-fill" style="color: #f88634; font-size: 15px;"></i>
                                                    }
                                                </div>
                                            </div>
                                        </a>

                                    }
                                    else if (notification.recommendedStoryId != 0)
                                    {

                                        <a class="text-decoration-none text-dark" href="@Url.Action("StoryDetail", "Story", new {  MissionId = notification.recommendedStoryMissionId, UserId = notification.recommendedStoryUserId })">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <img src="~/Upload/UserProfile/@notification.fromUserAvatar" class="notificationIcon" />
                                                </div>
                                                <div class="ms-2">
                                                    <span> @notification.fromUserName - Recommends this story - @notification.recommendedStoryTitle </span>
                                                </div>
                                                <div>
                                                    @if (notification.status == true)
                                                    {
                                                        <i class="bi bi-circle-fill" style="color: #414141; font-size: 15px;"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-circle-fill" style="color: #f88634; font-size: 15px;"></i>
                                                    }
                                                </div>
                                            </div>
                                        </a>

                                    }
                                    else if (notification.timesheetId != 0)
                                    {
                                        <div class="d-flex justify-content-between">
                                            @if (notification.timesheetApprovalStatus == "APPROVED")
                                            {
                                                <i class="bi bi-check2-square"></i>
                                                <div class="ms-2">
                                                    <span> Timesheet has been approved for this mission: - @notification.timesheetMissionTitle </span>
                                                </div>
                                            }
                                            else
                                            {
                                                <i class="bi bi-x-square"></i>
                                                <div class="ms-2">
                                                    <span> Timesheet has been declined for this mission: - @notification.timesheetMissionTitle </span>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else if (notification.commentId != 0)
                                    {
                                        <div class="d-flex justify-content-between">
                                            @if (notification.commentApprovalStatus == "PUBLISHED")
                                            {
                                                <i class="bi bi-check2-square"></i>
                                                <div class="ms-2">
                                                    <span> Comment has been approved for this mission: @notification.commentMissionTitle </span>
                                                </div>
                                            }
                                            else
                                            {
                                                <i class="bi bi-x-square"></i>
                                                <div class="ms-2">
                                                    <span> Comment has been declined for this mission: @notification.commentMissionTitle </span>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else if (notification.storyId != 0)
                                    {
                                        <div class="d-flex justify-content-between">
                                            @if (notification.storyapprovalStatus == "PUBLISHED")
                                            {
                                                <i class="bi bi-check2-square"></i>
                                                <div class="ms-2">
                                                    <span> Story - @notification.approvedStoryTitle has been approved </span>
                                                </div>
                                            }
                                            else
                                            {
                                                <i class="bi bi-x-square"></i>
                                                <div class="ms-2">
                                                    <span> Story - @notification.approvedStoryTitle has been declined </span>
                                                </div>
                                            }
                                        </div>
                                    }
                                    else if (notification.newMissionId != 0)
                                    {
                                        <a></a>
                                    }
                                    else
                                    {
                                        <div class="d-flex justify-content-between">
                                            @if (notification.applicationApprovalStatus == "APPROVE")
                                            {
                                                <i class="bi bi-check2-square"></i>
                                                <div class="ms-2">
                                                    <span> Volunteering request has been approved for this mission: @notification.applicationMissionTitle </span>
                                                </div>
                                            }
                                            else
                                            {
                                                <i class="bi bi-x-square"></i>
                                                <div class="ms-2">
                                                    <span> Volunteering request has been declined for this mission: @notification.applicationMissionTitle </span>
                                                </div>
                                            }
                                        </div>
                                    }
                                </li>
                                <hr />
                            }
                        }
                        else
                        {
                            <img src="~/images/bell-big.png" class="mx-auto d-block" />
                            <li class="text-center" style="font-size: 21px;">You do not have any new notifications</li>
                        }
                    </ul>
                </div>


                <div class="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                        <span>
                            @if (Model.avatarName is not null)
                            {
                                <img src="~/Upload/UserProfile/@Model.avatarName" alt="" class="rounded-circle me-2"
                             width="40" height="40">
                            }
                            else
                            {
                                <img src="~/Upload/UserProfile/no-avatar.jpg" alt="" class="rounded-circle me-2"
                             width="40" height="40">
                            }
                        </span>
                        <p class="d-inline" id="profileText">
                            @Model.userName
                        </p>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" asp-controller="User" asp-action="UserProfile">My Profile</a></li>
                        <li><a class="dropdown-item" asp-controller="User" asp-action="VolunteeringTimesheet">Volunteering Timesheet</a></li>

                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a></li>

                    </ul>
                </div>
            }
            else
            {
                @*<li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Log In</a></li>*@
                <button type="button" class="loginBtn px-2 py-1" onclick="location.href='@Url.Action("Index", "Home")'">Log In</button>
            }
        </div>
    </div>
</nav>