<!-- FILTERS -->
<div class="border-bottom border-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 p-3 border-start border-end d-inline-flex">
                <div class="input-group">
                    <span class="input-group-text bg-white border-none" id="searchIcon">
                        <img src="~/images/search.png" />
                    </span>
                    <input type="text" class="form-control border-none" placeholder="Search" aria-label="Search"
                           aria-describedby="seacrhIcon" id="searchText">
                </div>
                <button class="img-filter border-none bg-white">
                    <img src="~/images/filter.png" type="button" data-bs-toggle="offcanvas"
                         data-bs-target="#filterMenu" aria-controls="filterMenu" />
                </button>
            </div>
            <div class="filter-options col-md-8">
                <div class="row h-100">
                    <div class="col-md-3 p-3 border-end">
                        <div class="dropdown">
                            <button class="nav-link dropdown-toggle border-none" type="button" id="countryDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Country
                            </button>
                            <ul class="dropdown-menu scroll-menu" id="CountryList" aria-labelledby="countryDropdown">
                                @foreach (var obj in Model.CountryList)
                                {
                                    <li value="@obj.CountryId">
                                        <a class="dropdown-item" value="@obj.CountryId">@obj.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 p-3 border-end">
                        <div class="dropdown">
                            <button class="nav-link dropdown-toggle border-none" type="button" id="cityDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                City
                            </button>
                            <ul class="dropdown-menu scroll-menu CityList CardsFilter" id="CityList" aria-labelledby="cityDropdown">
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 p-3 border-end">
                        <div class="dropdown">
                            <button class="nav-link dropdown-toggle border-none" type="button" id="themeDropdown"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Theme
                            </button>
                            <ul class="dropdown-menu scroll-menu CardsFilter" id="ThemeList" aria-labelledby="themeDropdown">
                                @foreach (var obj in Model.ThemeList)
                                {
                                    <li>
                                        <div class="dropdown-item mb-1 ms-3 form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1" value="@obj.MissionThemeId">
                                            <label class="form-check-label" for="exampleCheck1" value="@obj.MissionThemeId">
                                                @obj.Title
                                            </label>
                                        </div>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 p-3 border-end">
                        <div class="dropdown">
                            <div class="dropdown">
                                <button class="nav-link dropdown-toggle border-none" type="button" id="skillDropdown"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                    Skill
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end scroll-menu skillDropdown" id="SkillList" aria-labelledby="skillDropdown">
                                    @foreach (var obj in Model.SkillList)
                                    {
                                        <li>
                                            <div class="dropdown-item mb-1 ms-3 form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck1" value="@obj.SkillId">
                                                <label class="form-check-label" for="exampleCheck1" value="@obj.SkillId">
                                                    @obj.SkillName
                                                </label>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="offcanvas offcanvas-start" id="filterMenu" aria-labelledby="filterMenu">
                <div class="offcanvas-header flex-row-reverse">
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="accordion" id="filters">
                        <div class="accordion-item border-none">
                            <h2 class="accordion-header" id="country">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#countriesAccordion" aria-expanded="false"
                                        aria-controls="countriesAccordion">
                                    Country
                                </button>
                            </h2>
                            <div id="countriesAccordion" class="accordion-collapse collapse"
                                 aria-labelledby="country" data-bs-parent="#filters">
                                <div class="accordion-body">
                                    <ul class="scroll-menu" id="CountryList" style="list-style: none; width: 100%;">
                                        @foreach (var obj in Model.CountryList)
                                        {
                                            <li value="@obj.CountryId">
                                                <a class="dropdown-item" value="@obj.CountryId">@obj.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-none">
                            <h2 class="accordion-header" id="city">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#citiesAccordion" aria-expanded="false"
                                        aria-controls="citiesAccordion">
                                    City
                                </button>
                            </h2>
                            <div id="citiesAccordion" class="accordion-collapse collapse" aria-labelledby="city"
                                 data-bs-parent="#filters">
                                <div class="accordion-body">
                                    <ul class="scroll-menu" id="CityListAccordian" style="list-style: none; width: 100%;">
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-none">
                            <h2 class="accordion-header" id="theme">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#themesAccordion" aria-expanded="false"
                                        aria-controls="themesAccordion">
                                    Theme
                                </button>
                            </h2>
                            <div id="themesAccordion" class="accordion-collapse collapse" aria-labelledby="theme"
                                 data-bs-parent="#filters">
                                <div class="accordion-body">
                                    <ul class="scroll-menu" id="ThemeList" style="list-style: none; width: 100%;">
                                        @foreach (var obj in Model.ThemeList)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="@obj.MissionThemeId">
                                                <label class="form-check-label" value="@obj.MissionThemeId">
                                                    @obj.Title
                                                </label>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item border-none">
                            <h2 class="accordion-header" id="skill">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#skillsAccordion" aria-expanded="false"
                                        aria-controls="skillsAccordion">
                                    Skills
                                </button>
                            </h2>
                            <div id="skillsAccordion" class="accordion-collapse collapse" aria-labelledby="skill"
                                 data-bs-parent="#filters">
                                <div class="accordion-body">
                                    <ul class="scroll-menu" id="SkillList" style="list-style: none; width: 100%;">
                                        @foreach (var obj in Model.SkillList)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="@obj.SkillId">
                                                <label class="form-check-label" value="@obj.SkillId">
                                                    @obj.SkillName
                                                </label>
                                            </div>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

