@using CiPlatformWeb.Entities.DataModels;
@using CiPlatformWeb.Entities.ViewModels;
@using static CiPlatformWeb.Repositories.EnumStats;

@model NotificationModel

@{
    var today = DateTime.Today.ToString("yyyy-MM-dd");
}

<input id="UnreadCount" value="@Model.UnreadCount" class="d-none" />
<div id="notificationUl">
    <div class="d-flex justify-content-between align-items-center px-2">
        <button class="border-none">
            <i class="bi bi-gear-fill notificationSettings" style="color: #757575; font-size: 20px;"></i>
        </button>
        <span style="font-size: 20px;">Notification</span>
        <button class="border-none">
            <a class="text-decoration-none text-dark clearAllNotifications clearAllBtn">
                <span style="font-size: 16px;">Clear all</span>
            </a>
        </button>
    </div>

    <hr class="mb-0" />
    <ul style="list-style: none; padding: 0%;">
        @if (Model.userNotifications.Count != 0)
        {
            @foreach (NotificationParams notification in Model.userNotifications.Where(n => n.createdAt.Value.ToString("yyyy-MM-dd") == today))
            {
                <li class="clearNotification readNotification px-2 pt-3" id="@notification.notificationId">
                    @if (notification.recommendedMissionId != 0)
                    {
                        <a class="text-decoration-none text-dark" href="@Url.Action("VolunteeringMission", "Mission", new {  MissionId = notification.recommendedMissionId})">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <img src="~/Upload/UserProfile/@notification.fromUserAvatar" class="notificationIcon" />
                                </div>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> <strong>@notification.fromUserName</strong> - Recommends this mission -  <strong>@notification.recommendedMissionTitle</strong> </p>
                                </div>
                                <div>
                                    @if (notification.status == true)
                                    {
                                        <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                    }
                                </div>
                            </div>
                        </a>
                    }
                    else if (notification.recommendedStoryId != 0)
                    {
                        <a class="text-decoration-none text-dark" href="@Url.Action("StoryDetail", "Story", new {  MissionId = notification.recommendedStoryMissionId, UserId = notification.recommendedStoryUserId })">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <img src="~/Upload/UserProfile/@notification.fromUserAvatar" class="notificationIcon" />
                                </div>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> <strong>@notification.fromUserName</strong> - Recommends this story - <strong>@notification.recommendedStoryTitle</strong> </p>
                                </div>
                                <div>
                                    @if (notification.status == true)
                                    {
                                        <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                    }
                                </div>
                            </div>
                        </a>
                    }
                    else if (notification.timesheetId != 0)
                    {
                        <div class="d-flex justify-content-between">
                            @if (notification.timesheetApprovalStatus == timesheetStatus.approved.ToString().ToUpper())
                            {
                                <i class="bi bi-check2-square" style="font-size: 38px; color: #757575;"></i>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Timesheet has been approved for this mission - <strong>@notification.timesheetMissionTitle</strong> </p>
                                </div>
                            }
                            else
                            {
                                <i class="bi bi-x-square" style="font-size: 38px; color: #757575;"></i>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Timesheet has been declined for this mission - <strong>@notification.timesheetMissionTitle</strong> </p>
                                </div>
                            }
                            <div class="statusPill-@notification.notificationId">
                                @if (notification.status == true)
                                {
                                    <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                }
                            </div>
                        </div>
                    }
                    else if (notification.commentId != 0)
                    {
                        <div class="d-flex justify-content-between">
                            @if (notification.commentApprovalStatus == commentStatus.published.ToString().ToUpper())
                            {
                                <i class="bi bi-check2-square" style="font-size: 38px; color: #757575;"></i>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Comment has been approved for this mission - <strong>@notification.commentMissionTitle</strong> </p>
                                </div>
                            }
                            else
                            {
                                <i class="bi bi-x-square" style="font-size: 38px; color: #757575;"></i>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Comment has been declined for this mission - <strong>@notification.commentMissionTitle</strong> </p>
                                </div>
                            }
                            <div class="statusPill-@notification.notificationId">
                                @if (notification.status == true)
                                {
                                    <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                }
                            </div>
                        </div>
                    }
                    else if (notification.storyId != 0)
                    {
                        <div class="d-flex justify-content-between">
                            @if (notification.storyapprovalStatus == storyStatus.published.ToString().ToUpper())
                            {
                                <i class="bi bi-check2-square" style="font-size: 38px; color: #757575;"></i>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Story - <strong>@notification.approvedStoryTitle</strong> has been approved </p>
                                </div>
                            }
                            else
                            {
                                <i class="bi bi-x-square" style="font-size: 38px; color: #757575;"></i>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Story - <strong>@notification.approvedStoryTitle</strong> has been declined </p>
                                </div>
                            }
                            <div class="statusPill-@notification.notificationId">
                                @if (notification.status == true)
                                {
                                    <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                }
                            </div>
                        </div>
                    }
                    else if (notification.newMissionId != 0)
                    {
                        <a class="text-decoration-none text-dark" href="@Url.Action("VolunteeringMission", "Mission", new {  MissionId = notification.newMissionId})">
                            <div class="d-flex justify-content-between">
                                <i class="bi bi-plus-circle"></i>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> New mission -  <strong>@notification.newMissionTitle</strong> </p>
                                </div>
                                <div>
                                    @if (notification.status == true)
                                    {
                                        <i class="bi bi-check-circle-fill" style="color: #414141; font-size: 13px;"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                    }
                                </div>
                            </div>
                        </a>
                    }
                    else
                    {
                        <div class="d-flex justify-content-between">
                            @if (notification.applicationApprovalStatus == applicationStatus.approve.ToString().ToUpper())
                            {
                                <i class="bi bi-check2-square" style="font-size: 38px; color: #757575;"></i>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Volunteering request has been approved for this mission - <strong>@notification.applicationMissionTitle</strong> </p>
                                </div>
                            }
                            else
                            {
                                <i class="bi bi-x-square" style="font-size: 38px; color: #757575;"></i>
                                <div class="ms-2 me-2">
                                    <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Volunteering request has been declined for this mission - <strong>@notification.applicationMissionTitle</strong> </p>
                                </div>
                            }
                            <div class="statusPill-@notification.notificationId">
                                @if (notification.status == true)
                                {
                                    <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                }
                                else
                                {
                                    <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                }
                            </div>
                        </div>
                    }
                </li>
                <hr class="mb-0" />
            }

            @if (Model.userNotifications.Where(n => n.createdAt.Value.ToString("yyyy-MM-dd") != today).Any())
            {
                <div class="d-flex justify-content-center align-items-center bg-dark-subtle" style="background-color: #e9ecef">
                    <span style="font-size: 17px;" class="py-1 px-2">Older</span>
                </div>
                <hr class="mt-0" />

                @foreach (NotificationParams notification in Model.userNotifications.Where(n => n.createdAt.Value.ToString("yyyy-MM-dd") != today))
                {
                    <li class="clearNotification readNotification px-2" id="@notification.notificationId">
                        @if (notification.recommendedMissionId != 0)
                        {
                            <a class="text-decoration-none text-dark" href="@Url.Action("VolunteeringMission", "Mission", new {  MissionId = notification.recommendedMissionId})">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <img src="~/Upload/UserProfile/@notification.fromUserAvatar" class="notificationIcon" />
                                    </div>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> <strong>@notification.fromUserName</strong> - Recommends this mission - <strong>@notification.recommendedMissionTitle</strong> </p>
                                    </div>
                                    <div>
                                        @if (notification.status == true)
                                        {
                                            <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                        }
                                    </div>
                                </div>
                            </a>
                        }
                        else if (notification.recommendedStoryId != 0)
                        {
                            <a class="text-decoration-none text-dark" href="@Url.Action("StoryDetail", "Story", new {  MissionId = notification.recommendedStoryMissionId, UserId = notification.recommendedStoryUserId })">
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <img src="~/Upload/UserProfile/@notification.fromUserAvatar" class="notificationIcon" />
                                    </div>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> <strong>@notification.fromUserName</strong> - Recommends this story - <strong>@notification.recommendedStoryTitle</strong> </p>
                                    </div>
                                    <div>
                                        @if (notification.status == true)
                                        {
                                            <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                        }
                                    </div>
                                </div>
                            </a>
                        }
                        else if (notification.timesheetId != 0)
                        {
                            <div class="d-flex justify-content-between">
                                @if (notification.timesheetApprovalStatus == timesheetStatus.approved.ToString().ToUpper())
                                {
                                    <i class="bi bi-check2-square" style="font-size: 38px; color: #757575;"></i>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Timesheet has been approved for this mission - <strong>@notification.timesheetMissionTitle</strong> </p>
                                    </div>
                                }
                                else
                                {
                                    <i class="bi bi-x-square" style="font-size: 38px; color: #757575;"></i>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Timesheet has been declined for this mission - <strong>@notification.timesheetMissionTitle</strong> </p>
                                    </div>
                                }
                                <div class="statusPill-@notification.notificationId">
                                    @if (notification.status == true)
                                    {
                                        <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                    }
                                </div>
                            </div>
                        }
                        else if (notification.commentId != 0)
                        {
                            <div class="d-flex justify-content-between">
                                @if (notification.commentApprovalStatus == commentStatus.published.ToString().ToUpper())
                                {
                                    <i class="bi bi-check2-square" style="font-size: 38px; color: #757575;"></i>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Comment has been approved for this mission - <strong>@notification.commentMissionTitle</strong> </p>
                                    </div>
                                }
                                else
                                {
                                    <i class="bi bi-x-square" style="font-size: 38px; color: #757575;"></i>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Comment has been declined for this mission - <strong>@notification.commentMissionTitle</strong> </p>
                                    </div>
                                }
                                <div class="statusPill-@notification.notificationId">
                                    @if (notification.status == true)
                                    {
                                        <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                    }
                                </div>
                            </div>
                        }
                        else if (notification.storyId != 0)
                        {
                            <div class="d-flex justify-content-between">
                                @if (notification.storyapprovalStatus == storyStatus.published.ToString().ToUpper())
                                {
                                    <i class="bi bi-check2-square" style="font-size: 38px; color: #757575;"></i>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Story - <strong>@notification.approvedStoryTitle</strong> has been approved </p>
                                    </div>
                                }
                                else
                                {
                                    <i class="bi bi-x-square" style="font-size: 38px; color: #757575;"></i>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Story - <strong>@notification.approvedStoryTitle</strong> has been declined </p>
                                    </div>
                                }
                                <div class="statusPill-@notification.notificationId">
                                    @if (notification.status == true)
                                    {
                                        <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                    }
                                </div>
                            </div>
                        }
                        else if (notification.newMissionId != 0)
                        {
                            <a class="text-decoration-none text-dark" href="@Url.Action("VolunteeringMission", "Mission", new {  MissionId = notification.newMissionId})">
                                <div class="d-flex justify-content-between">
                                    <i class="bi bi-plus-circle"></i>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> New mission -  <strong>@notification.newMissionTitle</strong> </p>
                                    </div>
                                    <div>
                                        @if (notification.status == true)
                                        {
                                            <i class="bi bi-check-circle-fill" style="color: #414141; font-size: 13px;"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                        }
                                    </div>
                                </div>
                            </a>
                        }
                        else
                        {
                            <div class="d-flex justify-content-between">
                                @if (notification.applicationApprovalStatus == applicationStatus.approve.ToString().ToUpper())
                                {
                                    <i class="bi bi-check2-square" style="font-size: 38px; color: #757575;"></i>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Volunteering request has been approved for this mission - <strong>@notification.applicationMissionTitle</strong> </p>
                                    </div>
                                }
                                else
                                {
                                    <i class="bi bi-x-square" style="font-size: 38px; color: #757575;"></i>
                                    <div class="ms-2 me-2">
                                        <p class="lh-sm" style="margin-bottom: 0; text-align: justify;"> Volunteering request has been declined for this mission - <strong>@notification.applicationMissionTitle</strong> </p>
                                    </div>
                                }
                                <div class="statusPill-@notification.notificationId">
                                    @if (notification.status == true)
                                    {
                                        <i class="bi bi-check-circle-fill" style="color: #757575; font-size: 13px;"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-circle-fill" style="color: #f88634; font-size: 13px;"></i>
                                    }
                                </div>
                            </div>
                        }
                    </li>
                    <hr />
                }
            }
        }
        else
        {
            <img src="~/images/bell-big.png" class="mx-auto d-block" style="margin-top: 75px;" />
            <li class="text-center mt-2" style="font-size: 21px;">You do not have any new notifications</li>
        }
    </ul>
</div>

<div id="settingsUl" style="display: none;">
    <div class="d-flex justify-content-center align-items-center px-2">
        <span style="font-size: 20px;">Notification Settings</span>
    </div>

    <hr class="mb-0" />
    <div class="d-flex justify-content-start align-items-center bg-dark-subtle" style="background-color: #e9ecef">
        <span style="font-size: 17px;" class="py-1 px-2">Get a notification for</span>
    </div>

    <hr class="mt-0" />
    <div class="allSettingsDiv px-2" style="font-size: 17px;">
        <div class="form-check d-flex justify-content-between p-0">
            <label class="form-check-label" for="setting1">Recommended missions</label>
            <input type="checkbox" value="1" id="setting1" class="form-check-input">
        </div>
        <div class="form-check d-flex justify-content-between p-0 py-1">
            <label class="form-check-label" for="setting2">Recommended stories</label>
            <input type="checkbox" value="2" id="setting2" class="form-check-input">
        </div>
        <div class="form-check d-flex justify-content-between p-0 py-1">
            <label class="form-check-label" for="setting3">Volunteering timesheets</label>
            <input type="checkbox" value="3" id="setting3" class="form-check-input">
        </div>
        <div class="form-check d-flex justify-content-between p-0 py-1">
            <label class="form-check-label" for="setting4">My stories</label>
            <input type="checkbox" value="4" id="setting4" class="form-check-input">
        </div>
        <div class="form-check d-flex justify-content-between p-0 py-1">
            <label class="form-check-label" for="setting5">My applications</label>
            <input type="checkbox" value="5" id="setting5" class="form-check-input">
        </div>
        <div class="form-check d-flex justify-content-between p-0 py-1">
            <label class="form-check-label" for="setting6">New missions</label>
            <input type="checkbox" value="6" id="setting6" class="form-check-input">
        </div>
        <div class="form-check d-flex justify-content-between p-0 py-1">
            <label class="form-check-label" for="setting7">My comments</label>
            <input type="checkbox" value="7" id="setting7" class="form-check-input">
        </div>
    </div>

    <hr />
    <div class="d-flex justify-content-center align-items-center mb-2">
        <button type="button" class="btn btn-outline-secondary rounded-pill cancelNotification cancel-btn cancelButton mx-1">Cancel</button>
        <button type="submit" id="" class="btn card-button rounded-pill submit-btn mx-1 saveNotification">Save</button>
    </div>
</div>
