@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

@{
    string Email = ViewBag.Email;
    string UserName = ViewBag.UserName;
    var Id = Convert.ToInt64(ViewBag.UserId);
    string UserAvatar = ViewBag.UserAvatar;
}

@model CiPlatformWeb.Entities.ViewModels.StoryDetailViewModel

<link rel="stylesheet" href="~/css/story.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<span class="d-none" id="storyMissionId">@Model.storyDetail.MissionId</span>
<span class="d-none" id="storyUserId">@Model.storyDetail.UserId</span>
<span class="d-none" id="storyId">@Model.storyDetail.StoryId</span>
<span class="d-none" id="fromUserId">@Id</span>

<div class="container my-4">
    <div class="row d-flex mt-5">
        <div class="col-lg-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    @if (Model.storyDetail.StoryMedia.Any(s => s.StoryId == Model.storyDetail.StoryId))
                    {
                        @foreach (var image in Model.storyDetail.StoryMedia)
                        {
                            if (image.Type == "img")
                            {
                                <div class="swiper-slide">
                                    <img src="~/Upload/StoryPhotos/@image.Path" class="card-img-top" alt="" style="height: 100%; width: 100%;">
                                </div>
                            }
                            else
                            {
                                <div class="swiper-slide">
                                    <iframe src="//www.youtube.com/embed/@image.Path.Split("v=").ElementAt(1)" style="height: 100%; width: 100%;" allowfullscreen></iframe>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <img src="~/Upload/StoryPhotos/no-image-found.png" class="card-img-top" alt="" />
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @if (Model.storyDetail.StoryMedia.Any(s => s.StoryId == Model.storyDetail.StoryId))
                    {
                        @foreach (var image in Model.storyDetail.StoryMedia)
                        {
                            if (image.Type == "img")
                            {
                                <div class="swiper-slide">
                                    <img src="~/Upload/StoryPhotos/@image.Path" class="card-img-top" alt="">
                                </div>
                            }
                            else
                            {
                                <div class="swiper-slide">
                                    <img src="https://img.youtube.com/vi/@image.Path.Split("v=").ElementAt(1)/0.jpg" />
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>

        <!-- DATA -->
        <div class="col-lg-6">

            <!-- USER IMAGE -->
            <div class="user-img mt-5">
                @if (Model.storyDetail.User.Avatar is not null)
                {
                    <img src="~/Upload/UserProfile/@Model.storyDetail.User.Avatar" alt="" class="rounded-circle"
                     style="width: 100px; height: 100px;">
                }
                else
                {
                    <img src="~/Upload/UserProfile/no-avatar.jpg" alt="" class="rounded-circle"
                     style="width: 100px; height: 100px;">
                }
            </div>

            <!-- USER NAME AND VIEWS -->
            <div class="d-flex justify-content-between mt-2 user-data">
                <div class="">@Model.storyDetail.User.FirstName @Model.storyDetail.User.LastName</div>
                <div class="border border-secondary rounded-pill px-3 py-1">
                    <i class="bi bi-eye"></i> &nbsp; @Model.storyDetail.StoryViews Views
                </div>
            </div>

            <div class="user-intro mt-4">
                <p style="font: 15px;">
                    @Model.storyDetail.User.WhyIVolunteer
                </p>
            </div>

            <div class="row gy-4 buttons mt-4">
                <div class="col-md-7">
                    

                    @if (Model.storyDetail.Status == "DRAFT")
                    {
                        <button class="rounded-pill recommend-btn p-2 w-100 text-decoration-none" disabled data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                            <i class="bi bi-person-plus"></i> &nbsp; Recommend to a Co-Worker
                        </button>
                    }
                    else
                    {
                        <button class="rounded-pill recommend-btn p-2 w-100 text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                            <i class="bi bi-person-plus"></i> &nbsp; Recommend to a Co-Worker
                        </button>
                    }

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="input-group mb-3">
                                            <span class="input-group-text bg-white border-none" id="searchIcon">
                                                <img src="~/images/search.png" />
                                            </span>
                                            <input type="text" class="form-control border-none searchUserName" placeholder="Search" onkeyup="searchUser()" id="" aria-label="Search" />
                                        </div>

                                    @foreach (var u in Model.userDetail)
                                    {

                                        <div class="mt-2" style="display : flex; justify-content : space-between;">

                                            <span class="me-4 userName">@u.FirstName @u.LastName</span>


                                            <span style="margin-left : 6%;" class="Invited-@u.UserId Invited-@Model.storyDetail.StoryId">
                                                <button onclick="storyInvite(@u.UserId)" class="btn btn-outline-primary model-button">
                                                    Invite
                                                </button>
                                            </span>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <button class="rounded-pill mission-btn p-2 w-100 text-decoration-none" onclick="openMission()" id="openMission">
                        Open Mission &nbsp; <i class="bi bi-arrow-right"></i>
                    </button>                    
                </div>
            </div>

        </div>

    </div>


    <div class="row">
        <div class="tabs d-flex flex-column" style="font-size: 15px;">
            <ul class="nav nav-tabs mt-3">
                <li class="nav-item">
                    <a class="nav-link active disabled" aria-current="page" href="#"
                       style="font-size: 22px;"> @Model.storyDetail.Title </a>
                </li>
            </ul>


            <div class="row mt-4">
                <p style="font: 15px;">
                    @Html.Raw(@Model.storyDetail.Description)
                </p>
            </div>

        </div>
    </div>
</div>

<script src="~/js/story.js" asp-append-version="true"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>