@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

@model CiPlatformWeb.Entities.ViewModels.UserProfileViewModel

@{
    string Email = ViewBag.Email;
    string UserName = ViewBag.UserName;
    var Id = Convert.ToInt64(ViewBag.UserId);
    string UserAvatar = ViewBag.UserAvatar;
}


<div class="container my-5">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-3">
                <input asp-for="UserId" type="hidden" />
                <div class="d-flex flex-column align-items-center justify-content-around border border-secondary py-4 w-100">
                    <div class="user-image-wrapper">
                        @if (Model.AvatarName != null)
                        {
                            <img src="~/Upload/UserProfile/@Model.AvatarName" alt="user-image" class="rounded-circle mb-2 user-image" style="height: 150px; width: 150px;" />
                        }
                        else
                        {
                            <img src="~/Upload/UserProfile/no-avatar.jpg" alt="user-image" class="rounded-circle mb-2 user-image" style="height: 150px; width: 150px;" />
                        }
                        <div class="edit-icon"><i class="fas fa-pencil-alt"></i></div>
                        <!-- File input element -->
                        <input asp-for="AvatarImage" type="file" id="avatarFile" class="d-none" />
                    </div>
                    <div class="userName mt-2">
                        <span style="font-size: 23px;"> @Model.FirstName @Model.LastName </span>
                    </div>
                    @*<div class="links mt-2">
                    <a> <i class="bi bi-linkedin text-primary"></i> </a>
                    </div>*@
                    <div class="changePassword mt-2">
                        <a class="text-decoration-none text-secondary" style="font-size: 17px;" data-bs-toggle="modal"
                           data-bs-target="#changePassword"> Change Password </a>

                        <!-- Modal -->
                        <div class="modal fade" style="top: 100px;" id="changePassword" tabindex="-1"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                                            Change Password
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body py-1">
                                        <div class="form-group">
                                            <input type="text" id="oldPassword" class="form-control" placeholder="Enter old password">
                                            <span class="valOldPassword text-danger" style="display: none;">Old passowrd is required.</span>
                                            <span class="valInvalidPassword text-danger" style="display: none;">Passowrd is incorrect.</span>
                                        </div>

                                        <div class="form-group mt-3">
                                            <input type="text" id="newPassword" class="form-control" placeholder="Enter new password">
                                            <span class="valNewPassword text-danger" style="display: none;">New passowrd is required.</span>
                                        </div>

                                        <div class="form-group mt-3">
                                            <input type="text" id="confirmPassword" class="form-control" placeholder="Enter confirm passord">
                                            <span class="valConfirmPassword text-danger" style="display: none;">New passowrd is required.</span>
                                            <span class="valMatchingPassword text-danger" style="display: none;">Password doesn't match.</span>
                                        </div>
                                    </div>
                                    <div class="modal-footer mt-2">
                                        <button type="button" class="cancel-btn rounded-pill py-1 px-3"
                                                data-bs-dismiss="modal">
                                            Cancel
                                        </button>
                                        <button type="button"
                                                class="submit-btn rounded-pill py-1 px-3" id="changePassowrd">
                                            Change Password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="basicInfoDiv">
                    <div class="tabs d-flex flex-column" style="font-size: 15px;">
                        <ul class="nav nav-tabs mt-3 mb-4">
                            <li class="nav-item">
                                <a class="nav-link active disabled" aria-current="page" href="#"
                                   style="font-size: 22px;">Basic Information</a>
                            </li>
                        </ul>

                        <div class="row row-cols-1 row-cols-md-2 g-4 g-md-4">

                            <div class="form-group">
                                <label asp-for="FirstName" class="form-label">Name<span class="required-field"></span></label>
                                <input asp-for="FirstName" id="firstName" type="text" class="form-control" placeholder="Enter your name">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LastName" class="form-label">Surname<span class="required-field"></span></label>
                                <input asp-for="LastName" id="lastName" type="text" class="form-control" placeholder="Enter your surname">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="EmployeeId" class="form-label">Employee ID</label>
                                <input asp-for="EmployeeId" id="empId" type="text" class="form-control" placeholder="Enter your employee id">
                            </div>

                            <div class="form-group">
                                <label asp-for="Manager" class="form-label">Manager</label>
                                <input asp-for="Manager" id="manager" type="text" class="form-control" placeholder="Enter your manager detials">
                            </div>

                            <div class="form-group">
                                <label asp-for="Title" class="form-label">Title</label>
                                <input asp-for="Title" id="title" type="text" class="form-control" placeholder="Enter title">
                            </div>

                            <div class="form-group">
                                <label asp-for="Department" class="form-label">Department</label>
                                <input asp-for="Department" id="dept" type="text" class="form-control" placeholder="Enter your department details">
                            </div>

                        </div>

                        <div class="row mt-4">
                            <div class="form-group">
                                <label asp-for="ProfileText" class="form-label">My Profile</label>
                                <textarea asp-for="ProfileText" class="form-control" id="ProfileText" rows="4" placeholder="Enter your comments..."></textarea>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="form-group">
                                <label asp-for="WhyIVolunteer" class="form-label">Why I Volunteer?</label>
                                <textarea asp-for="WhyIVolunteer" class="form-control" id="whyIVolunteer" rows="4" placeholder="Enter your comments..."></textarea>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="addressInfoDiv mt-3">
                    <div class="tabs d-flex flex-column" style="font-size: 15px;">
                        <ul class="nav nav-tabs mt-3 mb-4">
                            <li class="nav-item">
                                <a class="nav-link active disabled" aria-current="page" href="#"
                                   style="font-size: 22px;">Address Information</a>
                            </li>
                        </ul>

                        <div class="row row-cols-1 row-cols-md-2 g-4 g-md-4">

                            <div class="form-group">
                                <label class="form-label">City<span class="required-field"></span></label>
                                <select asp-for="CityId" class="form-select" id="CityDropdown" aria-label="Default select example">
                                    <option value="">
                                        Select your city
                                    </option>
                                    @if (Model.CountryId != null)
                                    {
                                        @foreach (var city in Model.CityList)
                                        {
                                            <option value="@city.CityId">@city.Name</option>
                                        }
                                    }
                                </select>
                                <span asp-validation-for="CityId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CountryId" class="form-label">Country<span class="required-field"></span></label>
                                <select asp-for="CountryId" class="form-select" id="countryDropdown" aria-label="Default select example">
                                    <option value="">
                                        Select your country
                                    </option>
                                    @foreach (var country in Model.CountryList)
                                    {
                                        <option value="@country.CountryId">@country.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="professionalInfoDiv mt-3">
                    <div class="tabs d-flex flex-column" style="font-size: 15px;">
                        <ul class="nav nav-tabs mt-3 mb-4">
                            <li class="nav-item">
                                <a class="nav-link active disabled" aria-current="page" href="#"
                                   style="font-size: 22px;">Professional Information</a>
                            </li>
                        </ul>

                        <div class="row row-cols-1 row-cols-md-2 g-4 g-md-4">

                            <div class="form-group">
                                <label class="form-label">Availability</label>
                                <select class="form-select" id="availability" aria-label="Default select example">
                                    <option selected disabled value="default">
                                        Select your availability
                                    </option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="LinkedInUrl" class="form-label">LinkedIn</label>
                                <input asp-for="LinkedInUrl" id="linkedInUrl" type="text" class="form-control" placeholder="Enter LinkedIn URL">
                            </div>

                        </div>
                    </div>
                </div>

                <div class="skillsDiv mt-3">
                    <div class="tabs d-flex flex-column" style="font-size: 15px;">
                        <ul class="nav nav-tabs mt-3 mb-4">
                            <li class="nav-item">
                                <a class="nav-link active disabled" aria-current="page" href="#"
                                   style="font-size: 22px;">My Skills</a>
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col">
                                <div class="skillsContainer d-flex flex-column border border-secondary p-2">
                                    @foreach (var s in Model.UserSkills)
                                    {
                                        <div class="userSkill" data-value="@s.SkillId">@s.Skill.SkillName</div>
                                    }
                                </div>
                                <input asp-for="UserSelectedSkills" type="hidden" id="selectedSkills" class="selectedSkills" />
                            </div>
                        </div>
                    </div>

                    <button type="button" class="add-skills-btn rounded-pill py-1 px-4 mt-3" data-bs-toggle="modal"
                            data-bs-target="#addSkillsModal">
                        Add
                        Skills
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="addSkillsModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add your Skills</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body py-1">
                                    <div class="row">
                                        <div class="col col-5 skillOptions">
                                            <select class="form-select" size="10" multiple>
                                                @foreach (var s in Model.SkillList)
                                                {
                                                    if (s.UserSkills.Any(us => us.SkillId == s.SkillId))
                                                    {
                                                        <option selected value="@s.SkillId"> @s.SkillName </option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@s.SkillId"> @s.SkillName </option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col col-2 d-flex flex-column align-items-center justify-content-center">
                                            <button type="button" class="border-0 bg-transparent selectSkills mb-3">
                                                <img src="~/images/right-arrow1.png">
                                            </button>
                                            <button type="button" class="border-0 bg-transparent deselectSkills">
                                                <img src="~/images/left.png">
                                            </button>
                                        </div>
                                        <div class="col col-5 upSkillsSelected">
                                            <select class="form-select" size="10" multiple>
                                                @foreach (var s in Model.UserSkills)
                                                {
                                                    <option value="@s.Skill.SkillId"> @s.Skill.SkillName </option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer mt-2" style="display: flex; justify-content: left;">
                                    <button type="button" class="cancel-btn rounded-pill py-1 px-4"
                                            data-bs-dismiss="modal">
                                        Cancel
                                    </button>
                                    <button type="button" onclick="saveSkills()" class="submit-btn rounded-pill py-1 px-4">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="save-btn rounded-pill py-1 px-4 mt-5" style="float: right;" id="saveProfile"> Save </button>

            </div>
        </div>
    </form>
</div>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}



@if (TempData["message"] != null)
{
    <script>
        window.onload = function () {
            swal.fire({
                position: 'center',
                icon: 'success',
                title: '@Html.Raw(TempData["message"])',
                showConfirmButton: false,
                timer: 3000
            });
        };
    </script>
}
