@using CiPlatformWeb.Entities.DataModels;
@using CiPlatformWeb.Entities.ViewModels;


@model CiPlatformWeb.Entities.ViewModels.AdminMissionViewModel


<form class="validateAdminForm" id="addMissionForm" data-validation="true">
    <div class="card mx-3 my-5">
        <div class="card-header">
            <h3 class="addEditMission">Add Mission</h3>
        </div>
        <div class="card-body pb-5">

            <input type="text" class="d-none" id="missionId" asp-for="newMission.missionId" />

            <div class="form-group mt-3">
                <label asp-for="newMission.misssionTitle" class="form-label">Title<span class="required-field"></span></label>
                <input asp-for="newMission.misssionTitle" type="text" id="misssionTitle" class="form-control">
                <span asp-validation-for="newMission.misssionTitle" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.shortDescription" class="form-label">Short Description<span class="required-field"></span></label>
                <textarea asp-for="newMission.shortDescription" id="shortDescription" class="form-control" rows="4"></textarea>
                <span asp-validation-for="newMission.shortDescription" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.missionDescription" class="form-label">Mission Description<span class="required-field"></span></label>
                <textarea asp-for="newMission.missionDescription" id="missionDescription" class="form-control"></textarea>
                <span id="valDesc" class="text-danger" style="display: none;">Mission description is required</span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.countryId" class="form-label">Country<span class="required-field"></span></label>
                <select asp-for="newMission.countryId" id="missionCountryId" class="form-select countryList">
                    <option value="">Select country</option>
                    @foreach (var country in Model.countryList)
                    {
                        <option value="@country.CountryId">@country.Name</option>
                    }
                </select>
                <span asp-validation-for="newMission.countryId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.cityId" class="form-label">City<span class="required-field"></span></label>
                <select asp-for="newMission.cityId" id="cityId" class="form-select cityList">
                    <option value="">Select city</option>
                    @if (Model.cityList is not null)
                    {
                        @foreach (var city in Model.cityList)
                        {
                            <option value="@city.CityId">@city.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="newMission.cityId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.organizationName" class="form-label">Organization Name<span class="required-field"></span></label>
                <input asp-for="newMission.organizationName" type="text" id="organizationName" class="form-control">
                <span asp-validation-for="newMission.organizationName" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.organizationDetail" class="form-label">Organization Detail<span class="required-field"></span></label>
                <textarea asp-for="newMission.organizationDetail" id="organizationDetail" class="form-control" rows="4"></textarea>
                <span id="orgDetails" class="text-danger" style="display: none;">Organization details is required</span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.startDate" class="form-label">Start Date<span class="required-field"></span></label>
                <input asp-for="newMission.startDate" type="date" id="startDate" class="form-control">
                <span asp-validation-for="newMission.startDate" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.endDate" class="form-label">End Date<span class="required-field"></span></label>
                <input asp-for="newMission.endDate" type="date" id="endDate" class="form-control">
                <span asp-validation-for="newMission.endDate" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.missionType" class="form-label">Mission Type<span class="required-field"></span></label>
                <select asp-for="newMission.missionType" id="missionType" class="form-select">
                    <option value="">Select mission type</option>
                    <option value="Time">Time</option>
                    <option value="Goal">Goal</option>
                </select>
                <span asp-validation-for="newMission.missionType" class="text-danger"></span>
            </div>

            <div class="form-group mt-3" id="registration" style="display: none;">
                <label asp-for="newMission.registrationDeadline" class="form-label">Registration Deadline<span class="required-field"></span></label>
                <input asp-for="newMission.registrationDeadline" type="date" id="registrationDeadline" class="form-control">
                <span asp-validation-for="newMission.registrationDeadline" class="text-danger"></span>
            </div>

            <div class="form-group mt-3" id="totalSeats" style="display: none;">
                <label asp-for="newMission.totalSeats" class="form-label">Total Seats<span class="required-field"></span></label>
                <input asp-for="newMission.totalSeats" type="text" id="" class="form-control">
                <span asp-validation-for="newMission.totalSeats" class="text-danger"></span>
            </div>

            <div class="form-group mt-3" id="goalObjectiveText" style="display: none;">
                <label asp-for="newMission.goalObjectiveText" class="form-label">Goal Objective Text<span class="required-field"></span></label>
                <input asp-for="newMission.goalObjectiveText" type="text" id="" class="form-control">
                <span asp-validation-for="newMission.goalObjectiveText" class="text-danger"></span>
            </div>

            <div class="form-group mt-3" id="goalValue" style="display: none;">
                <label asp-for="newMission.goalValue" class="form-label">Goal Value<span class="required-field"></span></label>
                <input asp-for="newMission.goalValue" type="text" id="" class="form-control">
                <span asp-validation-for="newMission.goalValue" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.missionTheme" class="form-label">Mission Theme<span class="required-field"></span></label>
                <select asp-for="newMission.missionTheme" id="missionTheme" class="form-select">
                    <option value="">Select theme</option>
                    @foreach (var theme in Model.themeList)
                    {
                        <option value="@theme.MissionThemeId">@theme.Title</option>
                    }
                </select>
                <span asp-validation-for="newMission.missionTheme" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.missionSkills" class="form-label">Mission Skills<span class="required-field"></span></label>
                <div class="allSkills border rounded p-2" style="border-color: #cdd2d8 !important">
                    @foreach (var skill in Model.skillList)
                    {
                        <div class="form-check">
                            <input type="checkbox" value="@skill.SkillId" id="skill-@skill.SkillId" class="form-check-input">
                            <label class="form-check-label" for="skill-@skill.SkillId">@skill.SkillName</label>
                        </div>
                    }
                </div>
                <input asp-for="newMission.missionSkills" type="hidden" id="selectedSkills" />
                <span asp-validation-for="newMission.missionSkills" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.availability" class="form-label">Mission Availability<span class="required-field"></span></label>
                <select asp-for="newMission.availability" id="availability" class="form-select">
                    <option value="">Select mission availability</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly">Monthly</option>
                    <option value="yearly">Yearly</option>
                </select>
                <span asp-validation-for="newMission.availability" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.videosUrl" class="form-label">Enter Video URL</label>
                <textarea asp-for="newMission.videosUrl" class="form-control" id="videoUrls" placeholder="Enter your url (Youtube links only)" rows="5"></textarea>
                <span class="valUrlCount text-danger" style="display: none;">Enter only 20 URLs at maximum.</span>
                <span class="valUrl text-danger" style="display: none;">Enter valid URLs only.</span>
            </div>

            <div class="form-group mt-3">
                <input type="hidden" asp-for="newMission.imageName" id="imageName" />
                <div class="upload">
                    <label class="form-label">Upload your Photos</label>
                    <div id="dropzone" class="dropzone">
                        <input type="file" class="d-none" accept=".jpg,.png, .jpeg" multiple id="file-input" />
                        <label class="drag-drop mb-4" for="file-input" id="file-button">
                            <img src="~/images/add.png" />
                        </label>
                        <span class="text-danger valImages" style="display: none">Only 20 png, jpg and jpeg images are allowed.</span>
                        <span class="text-danger valDefImg" style="display: none">Please select a default image.</span>
                    </div>
                    <div id="image-list" class="d-flex">
                        <!-- Selected images will be displayed here -->
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="hidden" asp-for="newMission.documentName" id="documentName" />
                <label class="form-label">Upload your Documents</label>
                <div id="docs-dropzone" class="docs-dropzone">
                    <input type="file" class="d-none" accept=".docx, .pdf, .xlsx" multiple id="doc-input" />
                    <label class="drag-drop mb-4" for="doc-input" id="file-button">
                        <img src="~/images/add.png" />
                    </label>
                    <span class="text-danger valDocs" style="display: none">Only 5 .docx, .pdf andd .xlsx documents are allowed.</span>
                </div>
                <div id="docs-list" class="d-flex flex-wrap p-2">
                    <!-- Selected docs will be displayed here -->
                </div>
            </div>

            <div class="form-group mt-3">
                <label asp-for="newMission.status" class="form-label">Status<span class="required-field"></span></label>
                <select asp-for="newMission.status" id="status" class="form-select">
                    <option value="">Status</option>
                    <option value="1">Active</option>
                    <option value="0">In-Active</option>
                </select>
                <span asp-validation-for="newMission.status" class="text-danger"></span>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-end my-5 me-3">
        <button type="button" class="btn btn-outline-secondary rounded-pill cancel-btn cancelButton">Cancel</button>
        <button type="submit" id="" class="btn mt-0 card-button ms-2 me-0 rounded-pill submit-btn">Submit</button>
    </div>
</form>

@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script src="~/js/admin.js" asp-append-version="true"></script>

<script>
    tinymce.init({
        selector: "#missionDescription",
        height: 300,
        plugins: "lists advlist code emoticons link media",
        toolbar:
            " bold italic underline strikethrough emoticons numlist bullist " +
            "subscript superscript undo redo"
    });
    tinymce.init({
        selector: "#organizationDetail",
        height: 300,
        plugins: "lists advlist code emoticons link media",
        toolbar:
            " bold italic underline strikethrough emoticons numlist bullist " +
            "subscript superscript undo redo"
    });
</script>