@using CiPlatformWeb.Entities.DataModels;
@using CiPlatformWeb.Entities.ViewModels;
@{
    ViewData["Title"] = "Banner";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model CiPlatformWeb.Entities.ViewModels.AdminBannerViewModel

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.bootstrap5.min.css">

<div class="container-fluid px-4 adminBannerContainer">
    <div class="tabs d-flex flex-column" style="font-size: 15px;">
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a class="nav-link active disabled"
                   style="font-size: 22px;">Banners</a>
            </li>
        </ul>
    </div>

    <div class="my-3">

        <div class="my-4">
            <div class="options d-flex justify-content-between">
                <div class="">
                    <div class="input-group mb-3" style="width: 100%;">
                        <span class="input-group-text bg-white border-none" id="searchIcon">
                            <img src="~/images/search.png" />
                        </span>
                        <input type="text" class="form-control border-none" placeholder="Search" id="searchBanner" aria-label="Search" style="border-left: none;" />
                    </div>
                </div>
                <div class="">
                    <button class="addBtn rounded-pill py-1 px-2" id="addBanner">
                        <i class="bi bi-plus-lg"></i> &nbsp; Add
                    </button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="bannerTable" style="border: 1px solid #D9D9D9;">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Text</th>
                        <th scope="col">Sort Order</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (AdminBannerModel banner in Model.banners)
                    {
                        <tr id="@banner.bannerId">
                            <td scope="row">
                                <img src="~/Upload/Banner/@banner.imageName" style="height: 100px; width: 100px;" />
                            </td>
                            @{
                                int maxLength = 30;
                                string text = banner.text.Length > maxLength
                                ? @banner.text.Substring(0, maxLength) + "..."
                                : @banner.text;
                            }
                            <td>@text</td>
                            <td>@banner.sortOrder</td>
                            <td>
                                <i class="bi bi-pencil-square text-danger editBanner"></i>
                                <i class="bi bi-trash3 ms-2 deleteBanner"></i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

@if (TempData["message"] != null && TempData["icon"] != null)
{
    <script>
        window.onload = function () {
            swal.fire({
                position: 'center',
                icon: '@Html.Raw(TempData["icon"])',
                title: '@Html.Raw(TempData["message"])',
                showConfirmButton: false,
                timer: 3000
            });
        };
    </script>
}