@*@model CiPlatformWeb.Entities.DataModels.Mission*@
@{
    //string Email = ViewBag.Email;
    //string UserName = ViewBag.UserName;
    //string UserId = ViewBag.UserId;
    //long Id = long.Parse(UserId);
    var Id = ViewBag.UserId;
    //var TotalRecords = ViewBag.totalRecords;
    //string UserAvatar = ViewBag.UserAvatar;
}

@model CiPlatformWeb.Entities.ViewModels.DisplayMissionCards

<script>
    if (localStorage.getItem('view') == 1) {
        $('#grid-view').show();
        $('#list-view').hide();
    }
    else {
        $('#list-view').show();
        $('#grid-view').hide();
    }
</script>

<span class="d-none" id="missionCount">@Model.MissionCount</span>

<!-- GRID PARTIAL -->
<div id="grid-view">
    <div class="container my-3 pb-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 missions" id="missions">
            @foreach (var obj in Model.MissionList)
            {
                <div class="col card-div mb-5">
                    <span class="d-none mission-country">@obj.mission.CountryId</span>
                    <span class="mission-id d-none">@obj.missionId</span>
                    <div class="card h-100 shadow-sm border-light">
                        <div class="position-relative">
                            @if (obj.mediaPath is not null)
                            {
                                <img src="~/Upload/MissionPhotos/@obj.mediaPath" class="card-img-top" alt="">
                            }
                            else
                            {
                                <img src="~/Upload/MissionPhotos/no-image-found.png" class="card-img-top" alt="" />
                            }

                            <div class="mt-1 me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                                <div class="text-decoration-none text-white">
                                    <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp;
                                    <span class="mission-city">@obj.cityName</span>
                                </div>

                            </div>

                            <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill" onclick="addToFavourites(@obj.missionId)">
                                @if (obj.isFavorite)
                                {
                                    <i class="bi bi-heart-fill text-danger" id="@obj.missionId"></i>
                                }
                                else
                                {
                                    <i class="bi bi-heart text-light" id="@obj.missionId"></i>
                                }

                            </button>

                            <button class="mb-1 me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModalCenter-@obj.missionId">
                                <img src="~/images/user.png" alt="" class="img-fluid">
                            </button>
                            <div class="modal fade" id="exampleModalCenter-@obj.missionId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="input-group mb-3">
                                                <span class="input-group-text bg-white border-none" id="searchIcon">
                                                    <img src="~/images/search.png" />
                                                </span>
                                                <input type="text" class="form-control border-none searchUserByName" placeholder="Search" id="searchUserByNameGrid-@obj.missionId" data-value="@obj.missionId" aria-label="Search" />
                                            </div>

                                            @foreach (var u in Model.UserList)
                                            {
                                                <div class="mt-2" style="display : flex; justify-content : space-between;">

                                                    <span class="me-4 userName-@obj.missionId">@u.FirstName @u.LastName</span>

                                                    <span style="margin-left : 6%;" class="Invited-@u.UserId Invited-@obj.missionId">
                                                        <button onclick="recommendToCoWorker(@u.UserId, @obj.missionId, @Id)" class="btn btn-outline-primary model-button" data-mission-Id="@obj.missionId">Invite</button>
                                                    </span>

                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                                <span class="mission-theme">@obj.themeName</span>
                            </div>
                        </div>

                        <div class="card-body pt-4">
                            <h4 class="card-title" id="card-title">@obj.mission.Title</h4>
                            <p class="card-text">
                                @{
                                    int maxLength = 100;
                                    string description = obj.mission.ShortDescription.Length > maxLength
                                    ? @obj.mission.ShortDescription.Substring(0, maxLength) + "..."
                                    : @obj.mission.ShortDescription;
                                }
                                @description

                            </p>

                            <div class="row d-flex seats-left">
                                <div class="col">
                                    <h6>
                                        @obj.mission.OrganizationName
                                    </h6>
                                </div>
                                <div class="col text-end">
                                    @for (var i = 0; i < 5; i++)
                                    {
                                        if (i < obj.rating)
                                        {
                                            <i class="bi bi-star-fill text-warning"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-star"></i>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="row d-flex py-3 g-0 items-align-center">
                                <div class="col-2">
                                    <hr>
                                </div>
                                <div class="col-8 text-center border border-secondary rounded-pill">
                                    @if (obj.isOngoing)
                                    {
                                        <span style="font-size: 15px;">Ongoing opportunity</span>

                                    }
                                    else
                                    {
                                        @if (obj.mission.MissionType.Equals("Time"))
                                        {
                                            <span style="font-size: 15px;">From @obj.mission.StartDate.Value.ToShortDateString() until @obj.mission.EndDate.Value.ToShortDateString()</span>
                                        }
                                        else
                                        {
                                            <span style="font-size: 15px;"> @obj.goalObjectiveText </span>
                                        }
                                    }
                                </div>
                                <div class="col-2">
                                    <hr>
                                </div>
                            </div>

                            <div class="d-flex justify-content-around mt-1 seats-left">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/Seats-left.png" alt=""
                                     style="margin-right: 10px; width: 30px; height: 30px" />
                                    <div class="d-flex flex-column">
                                        <span>@obj.seatsLeft</span>
                                        <span>Seats Left</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    @if (obj.mission.MissionType.Equals("Time"))
                                    {
                                        <img src="~/images/calender.png" alt=""
                                     style="margin-right: 10px; width: 30px; height: 30px" />
                                        <div class="d-flex flex-column">
                                            <span>@obj.mission.StartDate.Value.AddDays(-1).ToShortDateString() </span>
                                            <span>Deadline</span>
                                        </div>
                                    }
                                    else
                                    {
                                        double? percent = 0;
                                        if (obj.achievedGoal is not null)
                                        {
                                            percent = ((double) obj.achievedGoal / obj.totalGoal) * 100;
                                        }
                                        <img src="~/images/achieved.png" alt="deadline"
                                     style="margin-right: 10px; width: 30px; height: 30px;">
                                        <div class="card-detail-text">
                                            <div class="progress" style="width: 150px">
                                                <div class="progress-bar" role="progressbar" aria-label="Warning example"
                                             style="background-color: #F88634; width: @percent%"
                                             aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                            <span> @obj.achievedGoal achieved </span>
                                        </div>
                                    }
                                </div>
                            </div>

                            <hr>
                            @if ((obj.mission.MissionType.Equals("Time") && (obj.hasDeadlinePassed || obj.haEndDatePassed)) || obj.hasApplied)
                            {
                                <div class="text-center pt-3 mb-3">
                                    <a class="btn-apply rounded-pill px-4 py-2 text-decoration-none" href="@Url.Action("VolunteeringMission", "Mission" , new { MissionId = @obj.missionId})">
                                        View Details
                                        <i class="bi bi-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="text-center pt-3 mb-3">
                                    <a class="btn-apply rounded-pill px-4 py-2 text-decoration-none" href="@Url.Action("VolunteeringMission", "Mission" , new { MissionId = @obj.missionId})">
                                        Apply
                                        <i class="bi bi-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- LIST PARTIAL -->
<div id="list-view">
    <div class="container my-4 mb-5">

        @foreach (var obj in Model.MissionList)
        {
            <div class="card mb-5 border-light shadow-sm card-div" style="width: 100% !important">
                <div class="row g-0">
                    <span class="mission-id d-none">@obj.missionId</span>
                    <span class="d-none mission-country">@obj.mission.CountryId</span>
                    <div class="col-md-4 position-relative">

                        @if (obj.mediaPath is not null)
                        {
                            <img src="~/Upload/MissionPhotos/@obj.mediaPath" class="card-img-top" alt="">
                        }
                        else
                        {
                            <img src="~/Upload/MissionPhotos/no-image-found.png" class="card-img-top" alt="" />
                        }

                        @if (obj.hasApplied)
                        {
                            <div class="mt-1 position-absolute top-0 start-0 text-white p-2" style="background:green 0% 0% no-repeat; border-radius: 0px 50px 50px 0px">
                                <span>APPLIED</span>
                            </div>
                        }
                        else if (obj.mission.MissionType.Equals("Time") && (obj.hasDeadlinePassed || obj.haEndDatePassed))
                        {
                            <div class="mt-1 position-absolute top-0 start-0 text-white p-2" style="background:red 0% 0% no-repeat; border-radius: 0px 50px 50px 0px">
                                <span>CLOSED</span>
                            </div>
                        }


                        <div class="mt-1 me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                            <div class="text-decoration-none text-white">
                                <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp;
                                <span class="mission-city">@obj.cityName</span>
                            </div>
                        </div>


                        <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill" onclick="addToFavourites(@obj.missionId)">
                            @if (obj.isFavorite)
                            {
                                <i class="bi bi-heart-fill text-danger" id="list-@obj.missionId"></i>
                            }
                            else
                            {
                                <i class="bi bi-heart text-light" id="list-@obj.missionId"></i>
                            }
                        </button>

                        <button class="mb-1 me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModalCenterList-@obj.missionId">
                            <img src="~/images/user.png" alt="" class="img-fluid">
                        </button>
                        <div class="modal fade" id="exampleModalCenterList-@obj.missionId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-white border-none" id="searchIcon">
                                                <img src="~/images/search.png" />
                                            </span>
                                            <input type="text" class="form-control border-none searchUserByName" placeholder="Search" id="searchUserByNameList-@obj.missionId" data-value="@obj.missionId" aria-label="Search" />
                                        </div>

                                        @foreach (var u in Model.UserList)
                                        {
                                            <div class="mt-2" style="display : flex; justify-content : space-between;">

                                                <span class="me-4 userName-@obj.missionId">@u.FirstName @u.LastName</span>


                                                <span style="margin-left : 6%;" class="invited-@u.UserId Invited-@obj.missionId">
                                                    <button onclick="recommendToCoWorker(@u.UserId, @obj.missionId, @Id)" class="btn btn-outline-primary model-button" data-mission-Id="@obj.missionId">Invite</button>
                                                </span>

                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                            <span class="mission-theme">@obj.themeName</span>
                        </div>

                    </div>

                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row gy-2 d-flex">
                                <div class="col-6 col-lg-2">
                                    <img src="~/images/pin1.png" alt=""> <span>@obj.cityName</span>
                                </div>
                                <div class="col-6 col-lg-3">
                                    <img src="~/images/web.png" alt=""> <span>@obj.themeName</span>
                                </div>
                                <div class="col-lg-4">
                                    <img src="~/images/organization.png" alt="">
                                    <span>
                                        @obj.mission.OrganizationName
                                    </span>
                                </div>
                                <div class="col-lg-3 text-end">
                                    @for (var i = 0; i < 5; i++)
                                    {
                                        if (i < obj.rating)
                                        {
                                            <i class="bi bi-star-fill text-warning"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-star"></i>
                                        }
                                    }
                                </div>
                            </div>

                            <h4 class="card-title pt-3 mt-3">@obj.mission.Title</h4>
                            <p class="card-text">
                                @{
                                    int maxLength = 200;
                                    string description = obj.mission.ShortDescription.Length > maxLength
                                    ? @obj.mission.ShortDescription.Substring(0, maxLength) + "..."
                                    : @obj.mission.ShortDescription;
                                }
                                @description
                            </p>


                            <div class="d-flex justify-content-between flex-row mt-1">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/Seats-left.png" alt=""
                                     style="margin-right: 10px; width: 30px; height: 30px" />
                                    <div class="ms-1">
                                        <div class="d-flex">
                                            <h6>@obj.seatsLeft</h6>
                                        </div>
                                        <p class="mt-0 mb-0">Seats left</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">

                                    @if (obj.mission.MissionType.Equals("Time"))
                                    {
                                        <img src="~/images/calender.png" alt=""
                                     style="margin-right: 10px; width: 30px; height: 30px" />
                                        <div class="ms-1">
                                            <div class="d-flex">
                                                <h6>
                                                    @obj.mission.StartDate.Value.AddDays(-1).ToShortDateString()
                                                </h6>
                                            </div>
                                            <p class="mt-0 mb-0">Registration Deadline</p>
                                        </div>
                                    }
                                    else
                                    {
                                        double? percent = 0;
                                        if (obj.achievedGoal is not null)
                                        {
                                            percent = ((double) obj.achievedGoal / obj.totalGoal) * 100;
                                        }
                                        <img src="~/images/achieved.png" alt="deadline"
                                     style="margin-right: 10px; width: 30px; height: 30px;">
                                        <div class="card-detail-text">
                                            <div class="progress" style="width: 150px">
                                                <div class="progress-bar" role="progressbar" aria-label="Warning example"
                                             style="background-color: #F88634; width: @percent%"
                                             aria-valuemin="0" aria-valuemax="100">
                                                </div>
                                            </div>
                                            <span> @obj.achievedGoal achieved </span>
                                        </div>
                                    }
                                </div>


                                <div class="d-flex align-items-center">
                                    <div class="p-2 border border-secondary rounded-circle">
                                        <i class="bi bi-tools"></i>
                                    </div>
                                    <div class="ms-1">
                                        <div class="d-flex">
                                            <h6>
                                                Skill
                                            </h6>
                                        </div>
                                        <p class="mt-0 mb-0">
                                            @if (obj.skill is not null)
                                            {
                                            <p class="skillName">@obj.skill</p>
                                            }
                                            else
                                            {
                                            <span>No Skills required</span>
                                            }
                                        </p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="text-center pt-3">
                                        @if ((obj.mission.MissionType.Equals("Time") && (obj.hasDeadlinePassed || obj.haEndDatePassed)) || obj.hasApplied)
                                        {
                                            <a class="btn-apply rounded-pill px-4 py-2 text-decoration-none" href="@Url.Action("VolunteeringMission", "Mission" , new { MissionId = @obj.missionId})">
                                                View Details
                                                <i class="bi bi-arrow-right ms-2"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn-apply rounded-pill px-4 py-2 text-decoration-none" href="@Url.Action("VolunteeringMission", "Mission" , new { MissionId = @obj.missionId})">
                                                Apply
                                                <i class="bi bi-arrow-right ms-2"></i>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>