@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

@{
    //string Email = ViewBag.Email;
    string UserName = ViewBag.UserName;
    var Id = Convert.ToInt64(ViewBag.UserId);
    string UserAvatar = ViewBag.UserAvatar;
    var volCount = ViewBag.volCount;
}

@model CiPlatformWeb.Entities.ViewModels.VolunteeringMissionViewModel

<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

@*<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>*@
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<!-- CONTENT -->
<div class="container">
    <!-- SLIDE AND DATA -->
    <div class="row d-flex mt-5">
        <span class="missionId d-none"> @Model.MissionDetails.missionId </span>
        <!-- SLIDER -->
        <div class="col-lg-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    @if (Model.MissionDetails.mediaPath.Count != 0)
                    {
                        @foreach (var image in Model.MissionDetails.mediaPath)
                        {
                            <div class="swiper-slide">
                                <img src="~/Upload/MissionPhotos/@image" />
                            </div>
                        }
                    }
                    else
                    {
                        <img src="~/Upload/MissionPhotos/no-image-found.png" class="card-img-top" alt="" />
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @if (Model.MissionDetails.mediaPath is not null)
                    {
                        @foreach (var image in Model.MissionDetails.mediaPath)
                        {
                            <div class="swiper-slide">
                                <img src="~/Upload/MissionPhotos/@image" />
                            </div>
                        }
                    }
                </div>

            </div>
        </div>

        <!-- DATA -->
        <div class="col-lg-6">
            <!-- HEADING -->
            <div class="text">
                <h2 class="mt-4"> @Model.MissionDetails.mission.Title </h2>
                <p class="mt-3">
                    @Model.MissionDetails.mission.ShortDescription
                </p>
            </div>

            <!-- PILL -->
            <div class="mt-4 row gx-0">
                <div class="col-3">
                    <hr>
                </div>
                <div class="col-6 text-center border border-secondary rounded-pill">
                    @if (Model.MissionDetails.isOngoing)
                    {
                        <span style="font-size: 15px;"> Ongoing opportunity </span>
                    }
                    else
                    {
                        @if (Model.MissionDetails.mission.MissionType.Equals("Time"))
                        {
                            <span style="font-size: 15px;"> From @Model.MissionDetails.mission.StartDate.Value.ToShortDateString() until @Model.MissionDetails.mission.EndDate.Value.ToShortDateString() </span>
                        }

                        else
                        {
                            <span style="font-size: 15px;"> @Model.MissionDetails.goalObjectiveText </span>
                        }
                    }

                </div>
                <div class="col-3">
                    <hr>
                </div>
            </div>

            <!-- SEATS LEFT -->
            <div class="d-flex seats-left justify-content-around mt-4">
                <div class="d-flex align-items-center">
                    <img src="~/images/Seats-left.png" alt=""
                         style="margin-right: 10px; width: 30px; height: 30px">
                    <div class="d-flex flex-column">
                        <span>@Model.MissionDetails.seatsLeft</span>
                        <span>Seats Left</span>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    @if (Model.MissionDetails.mission.MissionType.Equals("Time"))
                    {
                        <img src="~/images/calender.png" alt=""
                         style="margin-right: 10px; width: 30px; height: 30px" />
                        <div class="d-flex flex-column">
                            <span>@Model.MissionDetails.mission.StartDate.Value.AddDays(-1).ToShortDateString() </span>
                            <span>Deadline</span>
                        </div>
                    }
                    else
                    {
                        int? percent = Model.MissionDetails.achievedGoal * (100 / Model.MissionDetails.totalGoal);
                        <img src="~/images/achieved.png" alt="deadline"
                         style="margin-right: 10px; width: 30px; height: 30px;">
                        <div class="card-detail-text">
                            <div class="progress" style="width: 150px">
                                <div class="progress-bar" role="progressbar" aria-label="Warning example" style="background-color: #F88634; width:@percent%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span> @Model.MissionDetails.achievedGoal achieved </span>
                        </div>
                    }
                </div>
            </div>

            <hr>
            <!-- BUTTONS -->
            <div class="row gy-4 d-flex">
                <div class="col-md-6">
                    <button class="btn-share rounded-pill p-2 w-100" onclick="addToFavourites(@Model.MissionDetails.missionId)">
                        @if (Model.MissionDetails.isFavorite)
                        {
                            <i class="bi bi-heart-fill text-danger" id="@Model.MissionDetails.missionId"></i>
                            <span class="favText">&nbsp; Added to Favourites</span>
                        }
                        else
                        {
                            <i class="bi bi-heart text-danger" id="@Model.MissionDetails.missionId"></i>
                            <span class="favText">&nbsp; Add to Favourites</span>
                        }

                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn-share rounded-pill p-2 w-100 volMissionModal" data-bs-toggle="modal" data-bs-target="#exampleModalCenterVolMission">
                        <i class="bi bi-person-plus"></i> &nbsp; Recommend to a Co-Worker
                    </button>

                    <div class="modal fade" id="exampleModalCenterVolMission" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-white border-none" id="searchIcon">
                                            <img src="~/images/search.png" />
                                        </span>
                                        <input type="text" class="form-control border-none searchUserName" placeholder="Search" onkeyup="searchUser()" id="" aria-label="Search" />
                                    </div>

                                    @foreach (var u in Model.UserList)
                                    {

                                        <div class="mt-2 bg-opacity-25" style="display : flex; justify-content : space-between;">

                                            <span class="me-4 userName">@u.FirstName @u.LastName</span>


                                            <span style="margin-left : 6%;" class="Invited-@u.UserId Invited-@Model.MissionDetails.missionId">
                                                <button onclick="recommendToCoWorker(@u.UserId, @Model.MissionDetails.missionId, @Id)" class="btn btn-outline-primary model-button" data-mission-Id="@Model.MissionDetails.missionId">
                                                    Invite
                                                </button>
                                            </span>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- STARS -->
            <div class="mt-4 row gx-0">
                <div class="col-3">
                    <hr>
                </div>
                <div class="col-6 text-center border border-secondary rounded-pill rateMission">
                    @for (var i = 0; i < 5; i++)
                    {
                        if (i < Model.MissionDetails.rating)
                        {
                            <i class="bi bi-star-fill text-warning m-1" data-mission-Id="@Model.MissionDetails.missionId"></i>
                        }
                        else
                        {
                            <i class="bi bi-star m-1" data-mission-Id="@Model.MissionDetails.missionId"></i>
                        }
                    }
                </div>
                <div class="col-3">
                    <hr>
                </div>
            </div>

            <!-- 4 BOXES -->
            <div class="row mt-4 gy-3 gx-0">
                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/pin1.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>City</span>
                            <p><strong>@Model.MissionDetails.cityName</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/web.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>Theme</span>
                            <p><strong>@Model.MissionDetails.themeName</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/calender.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>Date</span>
                            @if (Model.MissionDetails.isOngoing)
                            {
                                <p><strong>Ongoing</strong></p>
                            }
                            else if (Model.MissionDetails.haEndDatePassed)
                            {
                                <p><strong>Closed</strong></p>
                            }
                            else
                            {
                                <p><strong>@Model.MissionDetails.mission.StartDate.Value.ToShortDateString()</strong></p>
                            }
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/organization.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>Organization</span>
                            <p><strong>@Model.MissionDetails.mission.OrganizationName</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- APPLY BTN -->
            <div class="text-center mt-4">
                @if (Model.MissionDetails.mission.MissionType.Equals("Time") && (Model.MissionDetails.hasDeadlinePassed || Model.MissionDetails.haEndDatePassed))
                {
                    <button class="rounded-pill px-4 py-2" disabled style="background: red; color: white; border: 2px solid red;">
                        Closed <i class="bi bi-x-circle ms-2"></i>
                    </button>
                }
                else if (Model.MissionDetails.hasAppliedApprove)
                {
                    <button class="rounded-pill px-4 py-2" disabled style="background: green; color: white; border: 2px solid green;">
                        Applied Successfully <i class="bi bi-check-circle ms-2"></i>
                    </button>
                }
                else if (Model.MissionDetails.hasAppliedPending)
                {
                    <button class="rounded-pill px-4 py-2" disabled style="background: #F88634; color: white; border: 2px solid #F88634;">
                        Status Pending <i class="bi bi-exclamation-circle ms-2"></i>
                    </button>
                }
                else if (Model.MissionDetails.hasAppliedDecline)
                {
                    <button class="rounded-pill px-4 py-2" disabled style="background: red; color: white; border: 2px solid red;">
                        Declined <i class="bi bi-x-circle ms-2"></i>
                    </button>
                }
                else if (Model.MissionDetails.seatsLeft == 0)
                {
                    <button class="rounded-pill px-4 py-2" disabled style="background: #F88634; color: white; border: 2px solid #F88634;">
                        No Seats Left <i class="bi bi-exclamation-circle ms-2"></i>
                    </button>
                }
                else
                {
                    <button class="rounded-pill px-4 py-2 btn-apply" id="applyToMission">
                        Apply Now <i class="bi bi-arrow-right ms-2"></i>
                    </button>
                }
            </div>

        </div>
    </div>

    <!-- TAB AND BOXES -->
    <div class="row gy-4 mt-5 mb-5 d-flex mb-5">
        <!-- TABS -->
        <div class="tabs col-lg-7">
            <!-- TAB LINK -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="mission-tab" data-bs-toggle="tab" data-bs-target="#mission"
                            type="button" role="tab" aria-controls="mission" aria-selected="true">
                        Mission
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="organization-tab" data-bs-toggle="tab"
                            data-bs-target="#organization" type="button" role="tab" aria-controls="organization"
                            aria-selected="false">
                        Organization
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments"
                            type="button" role="tab" aria-controls="comments" aria-selected="false">
                        Comments
                    </button>
                </li>
            </ul>

            <!-- TAB CONTENT -->
            <div class="tab-content" id="myTabContent">
                <!-- MISSION -->
                <div class="tab-pane fade show active mt-4" id="mission" role="tabpanel"
                     aria-labelledby="mission-tab">
                    <h4 class="mb-3">Introduction</h4>
                    <p style="font: 15px;">
                        @Model.MissionDetails.mission.Description
                    </p>

                    <h4 class="mb-3 mt-4">Documents</h4>
                    <div class="row gy-4">
                        @if (Model.MissionDetails.MissionDocuments.Any())
                        {
                            @foreach (var doc in Model.MissionDetails.MissionDocuments)
                            {
                                <div class="col-sm-4">
                                    <a class="text-decoration-none text-dark py-2 px-2 rounded-pill border border-secondary" href="@Url.Action("DisplayDocument", "Mission", new { fileName = @doc.DocumentPath })" target="_blank">
                                        <img src="~/images/xlsx.png" alt="">
                                        &nbsp; @doc.DocumentName
                                    </a>
                                </div>
                            }
                        }
                        else
                        {
                            <span> No documents uploaded for this mission. </span>
                        }
                    </div>
                </div>

                <!-- ORGANIZATION -->
                <div class="tab-pane fade mt-4" id="organization" role="tabpanel"
                     aria-labelledby="organization-tab">
                    <h4 class="mb-3">About Organization</h4>
                    <p style="font: 15px;">
                        @Model.MissionDetails.mission.OrganizationDetail
                    </p>
                </div>

                <!-- COMMENTS -->
                <div class="tab-pane fade mt-4" id="comments" role="tabpanel" aria-labelledby="comments-tab">

                    <div class="mb-3">
                        <textarea class="form-control newComment" placeholder="Enter your comments..."
                                  rows="3"></textarea>
                        <span class="valComment text-danger" style="display: none;">Enter comment</span>
                    </div>
                    <button class="btn-apply rounded-pill px-4 py-2 commentButton" data-mission-Id="@Model.MissionDetails.missionId">
                        Post Comment
                    </button>

                    <div class="comment-box mt-4" style=" height: auto; max-height: 70vh; overflow-y: scroll;">
                        <div class="p-4">

                            @foreach (var com in Model.MissionDetails.ApprovedComments)
                            {
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                                            <img src="~/images/volunteer1.png" alt=""
                                             class="rounded-circle vol-img">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body">
                                                <h5>@com.User.FirstName @com.User.LastName</h5>
                                                <p>
                                                    @com.CreatedAt.Value.ToString("dddd, MMMM dd, yyyy, h:mm tt")
                                                </p>
                                                <p>@com.CommentText</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>

        <!-- SIDE 2 BOX -->
        <div class="col-lg-4 mb-5">
            <!-- INFO BOX -->
            <div class="row skills-box border border-secondary">
                <div class="tabs d-flex flex-column" style="font-size: 15px;">
                    <ul class="nav nav-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active disabled" aria-current="page" href="#"
                               style="font-size: 22px;">Information</a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-start mt-4">
                        <p>Skills</p>
                        <p class="ms-5">
                            @if (Model.MissionDetails.skills.Count != 0)
                            {
                                @foreach (var skill in Model.MissionDetails.skills)
                                {
                                    @skill <br />
                                }
                            }
                            else
                            {
                                <span>No Skills required</span>
                            }
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start mt-3">
                        <p>Days</p>
                        <p class="ms-5">
                            @{
                                string avail = $"{Model.MissionDetails.mission.Availability[0].ToString().ToUpper()}{Model.MissionDetails.mission.Availability.Substring(1)}";
                            }
                            @avail
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start mt-3 mb-3">
                        <p>Rating</p>
                        <div class="ms-5">
                            @for (var i = 0; i < 5; i++)
                            {
                                if (i < Model.MissionDetails.rating)
                                {
                                    <i class="bi bi-star-fill text-warning"></i>
                                }
                                else
                                {
                                    <i class="bi bi-star"></i>
                                }
                            }
                            <span>(Rated by @Model.MissionDetails.ratedByVols Volunteers)</span>
                        </div>
                    </div>
                    <!-- <hr> -->
                </div>
            </div>

            <!-- VOLUNTEER BOX -->
            @*<partial name="_RecentVolunteers" />*@
            <div class="recentVolunteersDiv"></div>

        </div>
    </div>

    <hr>
    <!-- RALATED MISSION CARDS -->
    <h2 class="text-center mt-5 mb-5">Related Missions</h2>
    @if(Model.RelatedMissions.Count == 0)
    {
        <h3 class="mb-3 text-center"> No related missions found </h3>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 missions" id="missions">
            @foreach (var obj in Model.RelatedMissions)
            {
                <div class="col card-div mb-5">
                    <span class="d-none mission-country">@obj.mission.CountryId</span>
                    <span class="mission-id d-none">@obj.missionId</span>
                    <div class="card h-100 shadow-sm border-light">
                        <div class="position-relative">
                            @if (obj.mediaPath is not null)
                            {
                                <img src="~/Upload/MissionPhotos/@obj.mediaPath" class="card-img-top" alt="">
                            }
                            else
                            {
                                <img src="~/Upload/MissionPhotos/no-image-found.png" class="card-img-top" alt="" />
                            }

                            <div class="mt-1 me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                                <div class="text-decoration-none text-white">
                                    <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp;
                                    <span class="mission-city">@obj.cityName</span>
                                </div>

                            </div>

                            <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill" onclick="addToFavourites(@obj.missionId)">
                                @if (obj.isFavorite)
                                {
                                    <i class="bi bi-heart-fill text-danger" id="@obj.missionId"></i>
                                }
                                else
                                {
                                    <i class="bi bi-heart text-light" id="@obj.missionId"></i>
                                }

                            </button>

                            <button class="mb-1 me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModalCenter-@obj.missionId">
                                <img src="~/images/user.png" alt="" class="img-fluid">
                            </button>
                            <div class="modal fade" id="exampleModalCenter-@obj.missionId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <div class="input-group mb-3">
                                                <span class="input-group-text bg-white border-none" id="searchIcon">
                                                    <img src="~/images/search.png" />
                                                </span>
                                                <input type="text" class="form-control border-none searchUserByName" placeholder="Search" id="searchUserByNameGrid-@obj.missionId" data-value="@obj.missionId" aria-label="Search" />
                                            </div>

                                            @foreach (var u in Model.UserList)
                                            {
                                                <div class="mt-2" style="display : flex; justify-content : space-between;">

                                                    <span class="me-4 userName-@obj.missionId">@u.FirstName @u.LastName</span>

                                                    <span style="margin-left : 6%;" class="Invited-@u.UserId Invited-@obj.missionId">
                                                        <button onclick="recommendToCoWorker(@u.UserId, @obj.missionId, @Id)" class="btn btn-outline-primary model-button" data-mission-Id="@obj.missionId">Invite</button>
                                                    </span>

                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                                <span class="mission-theme">@obj.themeName</span>
                            </div>
                        </div>

                        <div class="card-body pt-4">
                            <h4 class="card-title" id="card-title">@obj.mission.Title</h4>
                            <p class="card-text">
                                @{
                                    int maxLength = 100;
                                    string description = obj.mission.ShortDescription.Length > maxLength
                                    ? @obj.mission.ShortDescription.Substring(0, maxLength) + "..."
                                    : @obj.mission.ShortDescription;
                                }
                                @description

                            </p>

                            <div class="row d-flex seats-left">
                                <div class="col">
                                    <h6>
                                        @obj.mission.OrganizationName
                                    </h6>
                                </div>
                                <div class="col text-end">
                                    @for (var i = 0; i < 5; i++)
                                    {
                                        if (i < obj.rating)
                                        {
                                            <i class="bi bi-star-fill text-warning"></i>
                                        }
                                        else
                                        {
                                            <i class="bi bi-star"></i>
                                        }
                                    }
                                </div>
                            </div>

                            <div class="row d-flex py-3 g-0 items-align-center">
                                <div class="col-2">
                                    <hr>
                                </div>
                                <div class="col-8 text-center border border-secondary rounded-pill">
                                    @if (obj.isOngoing)
                                    {
                                        <span style="font-size: 15px;">Ongoing opportunity</span>

                                    }
                                    else
                                    {
                                        @if (obj.mission.MissionType.Equals("Time"))
                                        {
                                            <span style="font-size: 15px;">From @obj.mission.StartDate.Value.ToShortDateString() until @obj.mission.EndDate.Value.ToShortDateString()</span>
                                        }
                                        else
                                        {
                                            <span style="font-size: 15px;"> @obj.goalObjectiveText </span>
                                        }
                                    }
                                </div>
                                <div class="col-2">
                                    <hr>
                                </div>
                            </div>

                            <div class="d-flex justify-content-around mt-1 seats-left">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/Seats-left.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                                    <div class="d-flex flex-column">
                                        <span>@obj.seatsLeft</span>
                                        <span>Seats Left</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    @if (obj.mission.MissionType.Equals("Time"))
                                    {
                                        <img src="~/images/calender.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                                        <div class="d-flex flex-column">
                                            <span>@obj.mission.StartDate.Value.AddDays(-1).ToShortDateString() </span>
                                            <span>Deadline</span>
                                        </div>
                                    }
                                    else
                                    {
                                        int? percent = obj.achievedGoal * (100 / obj.totalGoal);

                                        <img src="~/images/achieved.png" alt="deadline"
                                 style="margin-right: 10px; width: 30px; height: 30px;">
                                        <div class="card-detail-text">
                                            <div class="progress" style="width: 150px">
                                                <div class="progress-bar" role="progressbar" aria-label="Warning example" style="background-color: #F88634; width:@percent%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <span> @obj.achievedGoal achieved </span>
                                        </div>
                                    }
                                </div>
                            </div>

                            <hr>
                            @if ((obj.mission.MissionType.Equals("Time") && (obj.hasDeadlinePassed || obj.haEndDatePassed)) || obj.hasApplied)
                            {
                                <div class="text-center pt-3 mb-3">
                                    <a class="btn-apply rounded-pill px-4 py-2 text-decoration-none" href="@Url.Action("VolunteeringMission", "Mission" , new { MissionId = @obj.missionId})">
                                        View Details
                                        <i class="bi bi-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="text-center pt-3 mb-3">
                                    <a class="btn-apply rounded-pill px-4 py-2 text-decoration-none" href="@Url.Action("VolunteeringMission", "Mission" , new { MissionId = @obj.missionId})">
                                        Apply
                                        <i class="bi bi-arrow-right ms-2"></i>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

<!-- SLIDER SCRIPT -->
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>