@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutMission.cshtml";
}

@{
    string Email = ViewBag.Email;
    string UserName = ViewBag.UserName;
    var Id = Convert.ToInt64(ViewBag.UserId);
}

@model CiPlatformWeb.Entities.ViewModels.VolunteeringMissionViewModel

<link rel="stylesheet" href="~/css/slider.css" asp-append-version="true" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

<!-- CONTENT -->
<div class="container">
    <!-- SLIDE AND DATA -->
    <div class="row d-flex mt-5">
        @{
            var RegisteredUsers = Model.MissionDetails.MissionApplications.Count(m => m.ApprovalStatus.Contains("APPROVE"));
            var SeatsLeft = Model.MissionDetails.TotalSeats - RegisteredUsers;
            var MissionId = Model.MissionDetails.MissionId;
            double missionRating = 0;
            @if (Model.MissionDetails.MissionRatings.Any())
            {
                missionRating = Math.Round(Model.MissionDetails.MissionRatings.Average(r => r.Rating));
            }
            double userRate = 0;
            @if (Model.MissionDetails.MissionRatings.Where(u => u.UserId == Id).Any())
            {
                var l = Model.MissionDetails.MissionRatings.Where(m => m.UserId == Id).FirstOrDefault();
                userRate = l.Rating;
            }
            DateTime? CurrentDate = @DateTime.Now;
            var deadline = @Model.MissionDetails.StartDate.Value.AddDays(-1);
            bool hasDeadlinePassed = CurrentDate > deadline;
            bool haEndDatePassed = CurrentDate > Model.MissionDetails.EndDate;
            bool isOngoing = CurrentDate > Model.MissionDetails.StartDate;
            bool hasApplied = Model.MissionDetails.MissionApplications.Any(m => m.UserId == Id);
        }

        <!-- SLIDER -->
        <div class="col-lg-6">
            <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                <div class="swiper-wrapper">
                    @if (Model.MissionDetails.MissionMedia.Any(m => m.MissionId == MissionId))
                    {
                        @foreach (var image in Model.MissionDetails.MissionMedia)
                        {
                            <div class="swiper-slide">
                                <img src=@image.MediaPath />
                            </div>
                        }
                    }
                    else
                    {
                        <img src="~/images/no-image-found.png" class="card-img-top" alt="" />
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
            <div thumbsSlider="" class="swiper mySwiper">
                <div class="swiper-wrapper">
                    @if (Model.MissionDetails.MissionMedia.Any(m => m.MissionId == MissionId))
                    {
                        @foreach (var image in Model.MissionDetails.MissionMedia)
                        {
                            <div class="swiper-slide">
                                <img src=@image.MediaPath />
                            </div>
                        }
                    }
                    else
                    {
                        <img src="~/images/no-image-found.png" class="card-img-top" alt="" />
                    }
                </div>

            </div>
        </div>

        <!-- DATA -->
        <div class="col-lg-6">
            <!-- HEADING -->
            <div class="text">
                <h2 class="mt-4"> @Model.MissionDetails.Title </h2>
                <p class="mt-3">
                    @Model.MissionDetails.ShortDescription
                </p>
            </div>

            <!-- PILL -->
            <div class="mt-4 row gx-0">
                <div class="col-3">
                    <hr>
                </div>
                <div class="col-6 text-center border border-secondary rounded-pill">

                    @if (Model.MissionDetails.MissionType.Equals("Time"))
                    {
                        <span style="font-size: 15px;"> From @Model.MissionDetails.StartDate.Value.ToShortDateString() until @Model.MissionDetails.EndDate.Value.ToShortDateString() </span>
                    }

                    @if (Model.MissionDetails.MissionType.Equals("Goal"))
                    {
                        @foreach (var goal in Model.MissionDetails.GoalMissions)
                        {
                            <span style="font-size: 15px;"> @goal.GoalObjectiveText </span>
                        }
                    }

                </div>
                <div class="col-3">
                    <hr>
                </div>
            </div>

            <!-- SEATS LEFT -->
            <div class="d-flex seats-left justify-content-around mt-4">
                <div class="d-flex align-items-center">
                    <img src="~/images/Seats-left.png" alt=""
                         style="margin-right: 10px; width: 30px; height: 30px">
                    <div class="d-flex flex-column">
                        <span>@SeatsLeft</span>
                        <span>Seats Left</span>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    @if (Model.MissionDetails.MissionType.Equals("Time"))
                    {
                        <img src="~/images/calender.png" alt=""
                         style="margin-right: 10px; width: 30px; height: 30px" />
                        <div class="d-flex flex-column">
                            <span>@Model.MissionDetails.StartDate.Value.AddDays(-1).ToShortDateString() </span>
                            <span>Deadline</span>
                        </div>
                    }
                    else
                    {
                        @foreach (var goal in Model.MissionDetails.GoalMissions)
                        {
                            <img src="~/images/achieved.png" alt="deadline"
                         style="margin-right: 10px; width: 30px; height: 30px;">
                            <div class="card-detail-text">
                                <div class="progress" style="width: 150px">
                                    <div class="progress-bar" role="progressbar" aria-label="Warning example" style="background-color: #F88634; width:@goal.GoalValue%" aria - valuenow="@goal.GoalValue" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <span> @goal.GoalValue achieved </span>
                            </div>
                        }
                    }
                </div>
            </div>

            <hr>
            <!-- BUTTONS -->
            <div class="row gy-4 d-flex">
                <div class="col-md-6">
                    <button class="btn-share rounded-pill p-2 w-100" onclick="addToFavourites(@Model.MissionDetails.MissionId)">
                        @if (Model.MissionDetails.FavouriteMissions.Any(fm => fm.UserId == Id))
                        {
                            <i class="bi bi-heart-fill text-danger" id="@Model.MissionDetails.MissionId"></i>
                            <span class="favText">Added to Favourites</span>
                        }
                        else
                        {
                            <i class="bi bi-heart text-light" id="@Model.MissionDetails.MissionId"></i>
                            <span class="favText">Add to Favourites</span>
                        }

                    </button>
                </div>
                <div class="col-md-6">
                    <button class="btn-share rounded-pill p-2 w-100" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                        <img src="~/images/add1.png" alt="">
                        Recommend to a Co-Worker
                    </button>

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @foreach (var u in Model.UserList)
                                    {

                                        <div class="mt-2" style="display : flex; justify-content : space-between;">

                                            <span class="me-4 ">@u.FirstName @u.LastName</span>


                                            <span style="margin-left : 6%;" class="Invited-@u.UserId Invited-@Model.MissionDetails.MissionId">
                                                <button onclick="recommendToCoWorker(@u.UserId, @Model.MissionDetails.MissionId, @Id)" class="btn btn-outline-primary model-button" data-mission-Id="@Model.MissionDetails.MissionId">
                                                    Invite
                                                </button>
                                            </span>

                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- STARS -->
            <div class="mt-4 row gx-0">
                <div class="col-3">
                    <hr>
                </div>
                <div class="col-6 text-center border border-secondary rounded-pill rateMission">
                    @for (var i = 0; i < userRate; i++)
                    {
                        <i class="bi bi-star-fill text-warning m-1" data-mission-Id="@Model.MissionDetails.MissionId"></i>

                    }
                    @for (var i = 5; i > userRate; i--)
                    {
                        <i class="bi bi-star m-1" data-mission-Id="@Model.MissionDetails.MissionId"></i>
                    }
                </div>
                <div class="col-3">
                    <hr>
                </div>
            </div>

            <!-- 4 BOXES -->
            <div class="row mt-4 gy-3 gx-0">
                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/pin1.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>City</span>
                            <p><strong>@Model.MissionDetails.City.Name</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/web.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>Theme</span>
                            <p><strong>@Model.MissionDetails.Theme.Title</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/calender.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>Date</span>
                            <p><strong>@Model.MissionDetails.StartDate.Value.ToShortDateString()</strong></p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center">
                    <div class="d-flex flex-column box-card justify-content-around p-2">
                        <div>
                            <img src="~/images/organization.png" alt="">
                        </div>
                        <div class="mt-4">
                            <span>Organization</span>
                            <p><strong>@Model.MissionDetails.OrganizationName</strong></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- APPLY BTN -->
            <div class="text-center mt-4">
                @if (Model.MissionDetails.MissionApplications.Any(m => m.UserId == Id && m.ApprovalStatus == "APPROVE"))
                {
                    <button class="rounded-pill px-4 py-2" style="background: #F88634; color: white; border: 2px solid #F88634;">
                        Applied Successfully
                    </button>
                }
                else if (Model.MissionDetails.MissionApplications.Any(m => m.UserId == Id && m.ApprovalStatus == "PENDING"))
                {
                    <button class="rounded-pill px-4 py-2" style="background: #F88634; color: white; border: 2px solid #F88634;">
                        Status Pending
                    </button>
                }
                else
                {
                    <button class="btn-apply rounded-pill px-4 py-2">
                        Apply Now
                        <i class="bi bi-arrow-right ms-3"></i>
                    </button>
                }
            </div>

        </div>
    </div>

    <!-- TAB AND BOXES -->
    <div class="row gy-4 mt-5 mb-5 d-flex mb-5">
        <!-- TABS -->
        <div class="tabs col-lg-7">
            <!-- TAB LINK -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="mission-tab" data-bs-toggle="tab" data-bs-target="#mission"
                            type="button" role="tab" aria-controls="mission" aria-selected="true">
                        Mission
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="organization-tab" data-bs-toggle="tab"
                            data-bs-target="#organization" type="button" role="tab" aria-controls="organization"
                            aria-selected="false">
                        Organization
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="comments-tab" data-bs-toggle="tab" data-bs-target="#comments"
                            type="button" role="tab" aria-controls="comments" aria-selected="false">
                        Comments
                    </button>
                </li>
            </ul>

            <!-- TAB CONTENT -->
            <div class="tab-content" id="myTabContent">
                <!-- MISSION -->
                <div class="tab-pane fade show active mt-4" id="mission" role="tabpanel"
                     aria-labelledby="mission-tab">
                    <h4 class="mb-3">Introduction</h4>
                    <p style="font: 15px;">
                        @Model.MissionDetails.Description
                    </p>

                    <h4 class="mb-3 mt-4">Challenge</h4>
                    <p style="font: 15px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p style="font: 15px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                    <h4 class="mb-3 mt-4">Documents</h4>
                    <div class="row gy-3">
                        <div class="col-sm-4">
                            <button class="py-1 px-2 rounded-pill border border-secondary">
                                <img src="~/images/pdf.png" alt="">
                                lorem-ipsum.pdf
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <button class="py-1 px-2 rounded-pill border border-secondary">
                                <img src="~/images/doc.png" alt="">
                                at_vero_eos.doc
                            </button>
                        </div>
                        <div class="col-sm-4">
                            <button class="py-1 px-2 rounded-pill border border-secondary">
                                <img src="~/images/xlsx.png" alt="">
                                important_doc.xls
                            </button>
                        </div>
                    </div>
                </div>

                <!-- ORGANIZATION -->
                <div class="tab-pane fade mt-4" id="organization" role="tabpanel"
                     aria-labelledby="organization-tab">
                    <h4 class="mb-3">About Organization</h4>
                    <p style="font: 15px;">
                        @Model.MissionDetails.OrganizationDetail
                    </p>
                    <p style="font: 15px;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>

                <!-- COMMENTS -->
                <div class="tab-pane fade mt-4" id="comments" role="tabpanel" aria-labelledby="comments-tab">

                    <div class="mb-3">
                        <textarea class="form-control newComment" placeholder="Enter your comments..."
                                  rows="3"></textarea>
                    </div>
                    <button class="btn-apply rounded-pill px-4 py-2 commentButton" data-mission-Id="@Model.MissionDetails.MissionId">
                        Post Comment
                    </button>

                    <div class="comment-box mt-4" style=" height: auto; max-height: 70vh; overflow-y: scroll;">
                        <div class="p-4">

                            @foreach (var com in Model.ApprovedComments)
                            {
                                <div class="card mb-3">
                                    <div class="row g-0">
                                        <div class="col-md-2 d-flex align-items-center justify-content-center">
                                            <img src="~/images/volunteer1.png" alt=""
                                             class="rounded-circle vol-img">
                                        </div>
                                        <div class="col-md-10">
                                            <div class="card-body">
                                                <h5>@com.User.FirstName @com.User.LastName</h5>
                                                <p>
                                                    @com.CreatedAt.Value.ToString("dddd, MMMM dd, yyyy, h:mm tt")
                                                </p>
                                                <p>@com.CommentText</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-1"></div>

        <!-- SIDE 2 BOX -->
        <div class="col-lg-4 mb-5">
            <!-- INFO BOX -->
            <div class="row border border-secondary">
                <div class="tabs d-flex flex-column" style="font-size: 15px;">
                    <ul class="nav nav-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active disabled" aria-current="page" href="#"
                               style="font-size: 22px;">Information</a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-start mt-4">
                        <p>Skills</p>
                        <p class="ms-5">
                            @* @foreach (var skill in Model.MissionDetails.MissionSkills)
                            {
                            @skill.Skill.SkillName <br />
                            }*@

                            @if (Model.MissionDetails.MissionSkills.Any())
                            {
                                @foreach (var skill in Model.MissionDetails.MissionSkills)
                                {
                                    @skill.Skill.SkillName <br />
                                }
                            }
                            else
                            {
                                <span>No Skills required</span>
                            }
                        </p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start mt-3">
                        <p>Days</p>
                        <p class="ms-5">@Model.MissionDetails.Availability</p>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-start mt-3 mb-3">
                        <p>Rating</p>
                        <div class="ms-5">
                            @for (var i = 0; i < 5; i++)
                            {
                                if (i < missionRating)
                                {
                                    <i class="bi bi-star-fill text-warning"></i>
                                }
                                else
                                {
                                    <i class="bi bi-star"></i>
                                }
                            }
                        </div>
                    </div>
                    <!-- <hr> -->
                </div>
            </div>

            <!-- VOLUNTEER BOX -->
            <div class="row border border-secondary mt-5">
                <div class="tabs d-flex flex-column" style="font-size: 15px;">
                    <ul class="nav nav-tabs mt-3">
                        <li class="nav-item">
                            <a class="nav-link active disabled" aria-current="page" href="#"
                               style="font-size: 22px;">Recent Volunteers</a>
                        </li>
                    </ul>


                    <div class="row mt-3">
                        @if (Model.RecentVolunteers.Any())
                        {
                            @foreach (var v in Model.RecentVolunteers)
                            {
                                <div class="col-4">
                                    <div class="text-center">
                                        <img src="~/images/volunteer1.png" alt="" class="rounded-circle vol-img">
                                        <p>@v.User.FirstName @v.User.LastName</p>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <span class="mb-3 text-center" style="font-size: 25px;"> No recent volunteers </span>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- RALATED MISSION CARDS -->
    <h2 class="text-center mt-5">Related Missions</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">

        @foreach (var m in Model.RelatedMissions)
        {
            var mRegisteredUsers = m.MissionApplications.Count(m => m.ApprovalStatus.Contains("APPROVE"));
            var mSeatsLeft = m.TotalSeats - mRegisteredUsers;
            var mMissionId = m.MissionId;
            double mmissionRating = 0;
            @if (m.MissionRatings.Any())
            {
                mmissionRating = Math.Round(m.MissionRatings.Average(r => r.Rating));
            }
            DateTime? mCurrentDate = @DateTime.Now;
            var mdeadline = m.StartDate.Value.AddDays(-1);
            bool mhasDeadlinePassed = mCurrentDate > mdeadline;
            bool mhaEndDatePassed = mCurrentDate > m.EndDate;
            bool misOngoing = mCurrentDate > m.StartDate;
            bool mhasApplied = m.MissionApplications.Any(m => m.UserId == Id);

            <div class="col card-div mb-5">
                <span class="d-none mission-country">@m.Country.Name</span>
                <span class="mission-id">@m.MissionId</span>
                @*<span>@hasApplied</span>*@
                <div class="card h-100 shadow-sm border-light">
                    <div class="position-relative">
                        @if (m.MissionMedia.Any(m => m.MissionId == mMissionId))
                        {
                            @foreach (var image in m.MissionMedia)
                            {
                                @if (image.Default == 1)
                                {
                                    <img src=@image.MediaPath class="card-img-top" alt="">
                                }
                            }
                        }
                        else
                        {
                            <img src="~/images/no-image-found.png" class="card-img-top" alt="" />
                        }

                        <div class="me-2 btn bg-black bg-opacity-50 position-absolute top-0 end-0 p-2 rounded-pill text-decoration-none text-white">
                            <div class="text-decoration-none text-white">
                                <img src="~/images/pin.png" alt="" class="img-fluid"> &nbsp;
                                <span class="mission-city">@m.City.Name</span>
                            </div>

                        </div>

                        <button class="me-2 btn bg-black bg-opacity-50 position-absolute top-50 end-0 p-2 rounded-pill" onclick="addToFavourites(@m.MissionId)">
                            @if (m.FavouriteMissions.Any(fm => fm.UserId == Id && fm.MissionId == m.MissionId))
                            {
                                <i class="bi bi-heart-fill text-danger" id="@m.MissionId"></i>
                            }
                            else
                            {
                                <i class="bi bi-heart text-light" id="@m.MissionId"></i>
                            }
                        </button>

                        <button class="me-2 btn bg-black bg-opacity-50 position-absolute bottom-0 end-0 p-2 rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModalCenter-@m.MissionId">
                            <img src="~/images/user.png" alt="" class="img-fluid">
                        </button>
                        <div class="modal fade" id="exampleModalCenter-@m.MissionId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Recommend to a Co-Worker</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @foreach (var u in Model.UserList)
                                        {
                                            <div class="mt-2" style="display : flex; justify-content : space-between;">

                                                <span class="me-4 ">@u.FirstName @u.LastName</span>

                                                <span style="margin-left : 6%;" class="Invited-@u.UserId Invited-@m.MissionId">
                                                    <button onclick="recommendToCoWorker(@u.UserId, @m.MissionId, @Id)" class="btn btn-outline-primary model-button" data-mission-Id="@m.MissionId">Invite</button>
                                                </span>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="position-absolute top-100 start-50 translate-middle bg-white rounded-pill px-3 py-2">
                            <span class="mission-theme">@m.Theme.Title</span>
                        </div>
                    </div>

                    <div class="card-body pt-4">
                        <h4 class="card-title" id="card-title">@m.Title</h4>
                        <p class="card-text">
                            @m.ShortDescription
                        </p>

                        <div class="row d-flex seats-left">
                            <div class="col">
                                <h6>
                                    @m.OrganizationName
                                </h6>
                            </div>
                            <div class="col text-end">
                                @for (var i = 0; i < 5; i++)
                                {
                                    if (i < mmissionRating)
                                    {
                                        <i class="bi bi-star-fill text-warning"></i>
                                    }
                                    else
                                    {
                                        <i class="bi bi-star"></i>
                                    }
                                }
                            </div>
                        </div>

                        @if (mhaEndDatePassed || mhasApplied)
                        {
                            <hr>
                            <div class="text-center pt-3">
                                <a class="btn-apply rounded-pill px-4 py-2 text-decoration-none" href="@Url.Action("VolunteeringMission", "Mission" , new { MissionId = @m.MissionId})">
                                    View Details
                                    <i class="bi bi-arrow-right ms-3"></i>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="row d-flex py-3 g-0 items-align-center">
                                <div class="col-2">
                                    <hr>
                                </div>
                                <div class="col-8 text-center border border-secondary rounded-pill">

                                    @if (m.MissionType.Equals("Time"))
                                    {

                                        if (misOngoing)
                                        {
                                            <span style="font-size: 15px;">Ongoing opportunity</span>
                                        }
                                        else
                                        {
                                            <span style="font-size: 15px;">From @m.StartDate.Value.ToShortDateString() until @m.EndDate.Value.ToShortDateString()</span>
                                        }
                                    }
                                    @if (m.MissionType.Equals("Goal"))
                                    {
                                        @foreach (var goal in m.GoalMissions)
                                        {
                                            <span style="font-size: 15px;"> @goal.GoalObjectiveText </span>
                                        }
                                    }
                                </div>
                                <div class="col-2">
                                    <hr>
                                </div>
                            </div>

                            <div class="d-flex justify-content-around mt-1 seats-left">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/Seats-left.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                                    <div class="d-flex flex-column">
                                        <span>@mSeatsLeft</span>
                                        <span>Seats Left</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    @if (m.MissionType.Equals("Time"))
                                    {
                                        <img src="~/images/Seats-left.png" alt=""
                                 style="margin-right: 10px; width: 30px; height: 30px" />
                                        <div class="d-flex flex-column">
                                            <span>@m.StartDate.Value.AddDays(-1).ToShortDateString() </span>
                                            <span>Deadline</span>
                                        </div>
                                    }
                                    else
                                    {
                                        @foreach (var goal in m.GoalMissions)
                                        {
                                            <img src="~/images/achieved.png" alt="deadline"
                                 style="margin-right: 10px; width: 30px; height: 30px;">
                                            <div class="card-detail-text">
                                                <div class="progress" style="width: 150px">
                                                    <div class="progress-bar" role="progressbar" aria-label="Warning example" style="background-color: #F88634; width:@goal.GoalValue%" aria - valuenow="@goal.GoalValue" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <span> @goal.GoalValue achieved </span>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>

                            <hr>
                            <div class="text-center pt-3">
                                <a class="btn-apply rounded-pill px-4 py-2 text-decoration-none" href="@Url.Action("VolunteeringMission", "Mission" , new { MissionId = @m.MissionId})">
                                    Apply
                                    <i class="bi bi-arrow-right ms-3"></i>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<!-- SLIDER SCRIPT -->
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        spaceBetween: 10,
        slidesPerView: 4,
        freeMode: true,
        watchSlidesProgress: true,
    });
    var swiper2 = new Swiper(".mySwiper2", {
        loop: true,
        spaceBetween: 10,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
        thumbs: {
            swiper: swiper,
        },
    });
</script>